{% extends "shop/base.html" %}
{% load i18n %}

{% block stylesheetlink %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}CustomThemes/maciek/ccss/contact.ccss" type="text/css" charset="utf-8">
{% endblock stylesheetlink %}

{% block navbar %}
   <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
   <li>{% trans "Registration" %}</li>
{% endblock %}

{% block content %}
<div class="form">
    <h1>{% trans "Register" %}</h1>
    <br/>
    <h3>{% trans "Register to get access to our premium content." %}</h3>
    <form method="post" action=".">
        {{ form.next }}
        {% csrf_token %}
        <table class="standard" width="500px">
            <tr><td>{{ form.username.label_tag }}:</td><td>{{ form.username }}</td></tr>
            <tr><td></td><td>{% if form.username.errors %}<span style="color: red;">{{ form.username.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.password.label_tag }}:</td><td>{{ form.password }}</td></tr>
            <tr><td></td><td>{% if form.password.errors %}<span style="color: red;">{{ form.password.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.password_confirm.label_tag }}:</td><td>{{ form.password_confirm }}</td></tr>
            <tr><td></td><td>{% if form.password_confirm.errors %}<span style="color: red;">{{ form.password_confirm.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.organization.label_tag }}:</td><td>{{ form.organization }}</td></tr>
            <tr><td></td><td>{% if form.organization.errors %}<span style="color: red;">{{ form.organization.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.first_name.label_tag }}:</td><td>{{ form.first_name }}</td></tr>
            <tr><td></td><td>{% if form.first_name.errors %}<span style="color: red;">{{ form.first_name.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.last_name.label_tag }}:</td><td>{{ form.last_name }}</td></tr>
            <tr><td></td><td>{% if form.last_name.errors %}<span style="color: red;">{{ form.last_name.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.country.label_tag }}:</td><td>{{ form.country }}</td></tr>
            <tr><td></td><td>{% if form.country.errors %}<span style="color: red;">{{ form.country.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.state.label_tag }}:</td><td>{{ form.state }}</td></tr>
            <tr><td></td><td>{% if form.state.errors %}<span style="color: red;">{{ form.state.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.city.label_tag }}:</td><td>{{ form.city }}</td></tr>
            <tr><td></td><td>{% if form.city.errors %}<span style="color: red;">{{ form.city.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.postal_code.label_tag }}:</td><td>{{ form.postal_code }}</td></tr>
            <tr><td></td><td>{% if form.postal_code.errors %}<span style="color: red;">{{ form.postal_code.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.email.label_tag }}:</td><td>{{ form.email }}</td></tr>
            <tr><td></td><td>{% if form.email.errors %}<span style="color: red;">{{ form.email.errors|join:", " }}</span>{% endif %}</td></tr>

            <tr><td>{{ form.email_confirm.label_tag }}:</td><td>{{ form.email_confirm }}</td></tr>
            <tr><td></td><td>{% if form.email_confirm.errors %}<span style="color: red;">{{ form.email_confirm.errors|join:", " }}</span>{% endif %}</td></tr>

            {% if show_newsletter %}
            <tr><td>{{ form.newsletter.label_tag }}:</td><td>{{ form.newsletter }}</td></tr>
            <tr><td></td><td>{% if form.newsletter.errors %}<span style="color: red;">{{ form.newsletter.errors|join:", " }}</span>{% endif %}</td></tr>
            {% else %}
            <input type='hidden' name='newsletter' value="False" />
            {% endif %}
        </table>
        <div style="text-align: right; width:500px"><input type="submit" value="{% trans "Register" %}"/></div>
    </form>
</div>
{% endblock %}