{% load i18n %}

    <div style="float: right; width: 26%; font-size: 0.9em; margin: 6em 2%;">
        {% trans "For questions regarding the Simthetiq Update Services please contact Simthetiq directly on" %} {{ INFO_PHONE }} {% trans "or by e-mail at" %} {{ INFO_EMAIL }}.
    </div>
    
<div class="vcms_container_relative" style="width: 58%;">
    <h2>{% trans "Thank you for subscribing to Simthetiq Updates" %}.</h2>
    <p>{% trans "You will now be among the first to learn about new product releases and relevant company developments. A confirmation email has been sent to" %} {{ email_registered }}.</p>
    <p>{% trans "We understand the importance of your time and will endeavour to provide you with meaningful information at respectful intervals" %}. {% trans "No more than one update will be mailed per week" %}.</p>
    <p><img style="float: right; margin-right: -200px;" src="../../../../static/images/about_us_tank.png" alt="" /></p>
    <p>{% trans "You may unsubscribe from the Simthetiq Update Service at any time by clicking the clearly indicated unsubscribe link at the bottom of every e-mail update" %}.</p>
    

</div>

