{% extends "master.html" %}

{% block content %}
<!--=========content=========== -->

<div class="content">
      <br />
      <p>The Site may collect certain information about your visit, such as the name of the Internet service provider and the Internet Protocol (IP) address through which you access the Internet and the date and time you access the Site. This information is used to help improve the site, analyze trends and administer the site.</p>
      <br />
      <p>The personal information collected on this Site will only be used to operate the Site and to provide the service(s) or carry out the transaction(s) you have requested or authorized.</p>
		<br />
      <p>Simthetiq may disclose personal information if required to do so by law or in the good faith belief that such action is necessary to (a) conform to the edicts of the law or comply with legal process served on Simthetiq or the Site; or (b) protect and defend the rights or property of Simthetiq.</p>
	<br />
    <p>Except as otherwise described in this statement, personal information you provide on the Site will not be shared outside of Simthetiq and its controlled subsidiaries without your permission.</p>
	<p>Simthetiq is committed to protecting the security of your personal information.</p>
    <br />
    <br />
</div>
<div class="clear"></div>

<!--=========//content=========== -->
{% endblock content %}