{% extends "master_frame.html" %}
{% load search_widget %}
{% load tree %}
{% load containers %}

{% load i18n %}
{% load humanize %}
{% load thumbnail %}
{% load tree %}
{% load cms_theme %}
{% load newsblogs_navigation %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    {% show_detailed_search_box %}
    {% if page_info.current_page.menu %}
        {% generate_dl_tree page_info.current_page.menu %}
    {% endif %}
    <br />
    {% ifequal page.display_navigation_in 'side_navigation' %}
        {% newsblogs_navigation page_info.current_page %}
    {% endifequal %}
{% endblock navigation %}

{% block vcms_main_content %}
    {{ block.super }}
    <div class="vcms_content">
        {% if page_info.page.display_title %}
            <h1>{% if page_info.page.get_menu.get_root_menu_if_exist %}
                {{ page_info.page.get_menu.get_root_menu_if_exist }} / {% endif %}
                <span style="color: #444444;">{{ page_info.page.name }}</span></h1>
        {% endif %}
    <div id='vcms_rss_feeds_on_page'>
    {% ifequal page.feeds_icon_position 2 %}
        {% if page.rss_feed %}<a href="/{{ page.type }}/rss/page/{{ page.slug }}">
        <img class="feedsheader" src="{% get_selected_theme_path %}/images/feeds/feed-icon-24x24.png"></a>{% endif %}
    {% endifequal %}
    </div>
    <div class="vcms_column_container">
        <!-- Content -->
        <div class="vcms_inner_content">
        {% block newsblogs_list %}
        {% for post in posts %}
            <div>
                <h3>{{ post.title }}</h3>
                <h5>{{ post.date_published|naturalday }}</h5>
                {{ post.content|safe }}
                <p>Tags: {% for category in post.category.all %}{{ category.name }} {% endfor %}</p>
                <br />
            </div>
        {% endfor %}
        {% endblock newsblogs_list %}
        <br />
        {{ page_paginator }}
        </div>
    </div>
    
    {% ifequal page.display_navigation_in 'in_page_navigation' %}
        {% newsblogs_navigation page_info.current_page %}
    {% endifequal %}
    </div>
{% endblock vcms_main_content %}

