{% extends "announcement.html" %}
{% load humanize %}
{% load containers %}


{% block newsblogs_list %}
<div class="vcms_simpleblogs_container">
{% relative_container page_info.current_page 'content' %}
<table width="100%">
    {% for post in posts %}
        <tr class="{% cycle 'uneven-line' 'even-line' %}">
        <td width="10%">{{ post.date_published|date:"m / d / Y" }}</td>
        <td width="80%"><a href="{{ cms_basepath }}{{ post.get_url }}/">{{ post.title }}{% comment %} - {{ post.preview|striptags }}{% endcomment %}</a></td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock newsblogs_list %}

