{% extends "announcement.html" %}
{% load humanize %}
{% load containers %}
{% relative_container pageinfo.current_page 'vcms_simpleblogs_container' %}


{% block newsblogs_list %}
<div class="vcms_simpleblogs_container">
<table width="100%">
    {% for post in posts %}
        <tr class="{% cycle 'uneven-line' 'even-line' %}">
        <td width="10%">{{ post.date_published|date:"m / d / Y" }}</td>
        <td width="80%">{{ post.title }}{% comment %} - {{ post.preview|striptags }}{% endcomment %}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock newsblogs_list %}

