{% extends "announcement.html" %}
{% load humanize %}

{% block newsblogs_list %}
{% for post in posts %}
    <div>
        <h3><a href="{{ cms_basepath }}{{ post.get_url }}/">{{ post.title }}</a></h3>
        <h5>{{ post.date_published|naturalday }}</h5>
        {{ post.content|safe }}
        <p>Categories: {% for category in post.category.all %}{{ category.name }} {% endfor %}</p>
        <br />
        {% if twitter_widget %}
            {{ twitter_widget.render }}
        {% endif %}
    </div>
{% endfor %}
{% endblock newsblogs_list %}
