{% extends "announcement.html" %}
{% load humanize %}
{% if social_medias %}
    {% load twitter_widget %}
    {% load facebook_widget %}
    {% load scripts %}
{% endif %}

{% block newsblogs_list %}
{% for post in posts %}
    <div>
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <h5>{{ post.date_published|naturalday }}</h5>
        {{ post.content|safe }}
        {% if social_medias %}
            <div class="twitter_widget" style="float: left;">
            {% twitter_widget "simpleblogs" "home" post.template_url post.title %}
            </div>
            <div class="facebook_like_button" style="float:left">
            {% facebook_like_button "simpleblogs" "home" post.template_url post.title %}
            </div>
            <br />
            <div class="facebook_comments" style="clear: both; margin-top: 8px;">
            {% facebook_comments "simpleblogs" "home" post.template_url post.title %}
            </div>
        {% endif %}
        
        <p style="clear: both;">Categories: {% for category in post.category.all %}{{ category.name }} {% endfor %}</p>
        <br />

    </div>
{% endfor %}
{% if social_medias %}
  {% load_social_medias_scripts "simpleblogs" "blog" %}
{% endif %}
{% endblock newsblogs_list %}
