{% extends "master.html" %}
{% load humanize %}
{% load thumbnail %}

{% block content %}
	<!-- Content -->
	{% if news %}
		{% for c in news %}
		<div class="division_content" name="{{ c.id }}">
			<br />
			<h4>{{ c.name|upper }} <span class="newsdate"> {{ c.date|naturalday }}</span></h4>
			<hr />
			<div class="division_content">
				{{ c.content|safe }}
			</div>
		</div>
		<div id="{{element.id}}_content" class="division_content">
			{% if c.product_images.all %}
			<div class="media_holder">
			<h6>IMAGE : </h6>
			{% for image in c.product_images.all %}
				<a href="{{ MEDIA_URL }}{{ image.file }}" title="{{image.description}}" rel="prettyPhoto[{{element.name}}]">
					<img alt="{{image.description|striptags}}" src="{% thumbnail image.file 100x40  crop %}" />
				</a>
			{% endfor %}
			</div>
			{% endif %}
			
			{% if c.product_videos.all %}
			<div class="media_holder">
			<h6>VIDEO : </h6>
			{% for video in c.product_videos.all %}
				<a href="{{ MEDIA_URL}}{{ video.file }}" 
					rel="prettyPhoto;width=600;height=430;flashvars=clip_id={{ video.id }}">
					{% if video.thumbnail %}
						<img alt="{{video.name}}" src="{{ MEDIA_URL }}{{ video.thumbnail }}" />
					{% else %}
						<img alt="{{video.description|striptags}}" src="{{ MEDIA_URL }}custom_themes/simthetiq/images/default/media/video.png" />
					{% endif %}
				</a>
			{% endfor %}
			</div>
			{% endif %}
		</div>
		{% endfor %}
	{% endif %}
{% endblock content %}
