{% load humanize %}
{% load i18n %}

<div class="vcms_blog_widget" style="overflow: hidden">
    <a href="{{ widget.get_absolute_url }}"><h1>{{ name|safe }}</h1></a>
    {% for post in posts %}
        {% if post.preview %}
        <div class="vcms_blog_widget_post">
            <a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
            <h5>{{ post.date_published|naturalday }}</h5>
            {{ post.preview|safe }}<a href="{{ post.get_absolute_url }}">{% trans 'More ' %}...</a>
        </div>
        {% endif %}
    {% endfor %}
</div>
