# Ignore python compiled files
*.py[co]

# Ignore cache
client_cms_static/CACHE/*
server/database/whoosh/*

# qooxdoo
client/qooxdoo-1.1-sdk/*

# Editor backup files
*~
*.~*
.~*
#emacs
*~
\#*\#
#komodo
*.kpf

#log file
*.log

# Mac OSX
.DS_Store

# Project file
.project
.pydevproject
nbproject
.settings/*

# Auto generated css
*/ccss/*.css

# Log files
server/satchmo.log

