{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% load admin_extras %}
{% load cms_theme %}

{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/admin.ccss" type="text/css" charset="utf-8">
{% endblock %}

{% block after_related_objects %}

{% if opts.local_fields.0.model.get_containers %}
    <h3>{% trans "Containers" %}</h3>
    {% for container_name, container_definition in opts.local_fields.0.model.get_containers.items %}
        <div>
          <fieldset class="module aligned ">
            <div class="form-row {{container_name}}">
                <div>
                  <label for="id_name" class="required">{{container_definition.name}}</label>
                    {% with container_definition.type as container_type %}
                        {% get_editable_container_fields container_type as fields %}
                        {% if fields %}
                          <fieldset class="container_attributes module aligned ">
                            {% for field in fields %}
                              <div class="form-row {{field.name}}">
                                <div>
                                  <label for="id_name" class="required">{{field.name}}:</label>
                                    <input name="name" value="Home" class="vTextField" maxlength="100" type="text" id="id_name" />
                                    <!--<p class="help">Help text.</p>-->
                                </div>
                              </div>
                            {% endfor %}
                          </fieldset>
                        {% endif %}
                    {% endwith %}
                    <fieldset class="widgets_attributes module aligned ">
                        <div class="addwidget form-row ">
                            <div>
                                <select name="widgets">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
          </fieldset>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
