{% extends "master.html" %}
{% load search_widget %}
{% load tree %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    {% show_detailed_search_box %}
{% endblock navigation %}

{% block vcms_main_content %}
<div class="vcms_container_relative">
    <!-- <form method="get" action=".">
        <table>
            <tr><td><h2>Search</h2></td>
                <td>{{ form.q }}</td>
                <td width="20%">
                    <button type="submit" value="Search">
                        <img src="/static" width="90" heght="50" alt="submit" />
                    </button>
                </td>
            <tr><td></td>
                <td>{{ form.models }}</td>
                <td></td>
            </tr>
        </table>
    </form> -->
        {% if query %}
            <h2>Results</h2>
            <br />
            <table style="text-align:left; width: 80%;">
            {% for result in page.object_list %}
                <tr>
                    <td id="first_column" style="width: 14%">{{ result.score|floatformat:"-2" }}</td>
                    <td> <a href="{{ result.object.get_page_where_available }}">{{ result.object.name }}</a></td>
                </tr>
                <tr>
                    <td></td><td>{{ result.object.content|truncatewords:20|safe }}</td>
                </tr>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </table>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

</div>
<!--=========//content=========== -->
{% endblock vcms_main_content %}
