<?xml version="1.0" encoding="utf-8"?>
{% extends "master_frame.html" %}
{% load search_widget %}
{% load tree %}
{% load i18n %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    {% show_detailed_search_box %}
{% endblock navigation %}

{% block vcms_main_content %}
<div class="vcms_container_relative">
  {% if query %}
    <h2>{{ page.object_list|length }} {% trans "Results for" %} "{{ query }}"</h2>
    <br />
    <table id='search_result' style="text-align:left; width: 80%;">
      {% for result in page.object_list %}

      {% comment %}{% if result.object.content %}{% endcomment %}
        <tr><td> <a href="{{ result.object.get_absolute_url }}" alt="{{ result.object.name }}">{{ result.object.name }}</a><span style="display: none;"> <stronger>{{ result.model_name }}</stronger></span></td>
        </tr>
        <tr><td>{% if result.object.content %}
        {{ result.object.content|removetags:"p h1 h2 h3 h4 h5 h6 span strong"|truncatewords:20|safe }}
        {% else %}
        {{ result.object.description|removetags:"p h1 h2 h3 h4 h5 h6 span strong"|truncatewords:20|safe }}       
        {% endif %}
      </td>
        </tr>
       {%comment%}{% endif %}{%endcomment%}
      {% empty %}
        <p>No results found.</p>
      {% endfor %}
    </table>
  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}

</div>
<!--=========//content=========== -->
{% endblock vcms_main_content %}
