{% extends "dashboard.html" %}

{% block dashboardelement %}
<!--=========content=========== -->
<div class="contactform"  >
   	<div class="box floatleft">
		<script language="JavaScript" type="text/JavaScript" src="/static/Library/validation/order.js"></script>
		<script>
			var requiredfield = new Array();
			requiredfield = {{ requiredfields|safe }};
			var errormess = new Array();
			errormess = ["Please fill all required fields!","Please, enter a valid email address!", "Email address don't match!"];				
		</script>

		<form  method="post" action="/contact/{{ current_page }}" onsubmit="return checkifcompleted(document.orderform, requiredfield, errormess );">
		{% csrf_token %}
		{{ form.as_p }}
		<div class="division_content">
			<h4>CONTACT FORM</h4>
		</div>
		<hr />
		<div class="division_content">
			<input id="default_input" type="hidden" />
			<br />
			<label id="cie_name" for="cie_name">Business Name: 
				<span style="color: red;"> {{ form.cie_name.errors.0 }}</span></label><br />
			{{form.cie_name}}<br />
			<label id="firstname">First name: 
				<span style="color: red;"> {{ form.firstname.errors.0 }}</span></label><br />
			{{form.firstname}}<br />
			<label id="lastname">Last name: 
				<span style="color: red;"> {{ form.lastname.errors.0 }}</span></label><br />
			{{form.lastname}}<br />
			<label id="phone_number">Phone Number: 
				<span style="color: red;"> {{ form.phone_number.errors.0 }}</span></label><br />
			{{form.phone_number}}<br />
			{% if emailerror %}
			<div class="error">
				<H4>An error occured sending to this email address.</h4></div>
			<br />
			{% endif %}
			<label id="email">Email: <span style="color: red;"> {{ form.email.errors.0 }}</span></label><br />
			{{form.email}}<br />
			<label id="email2">Email Validation: <span style="color: red;"> {{ form.email2.errors.0 }}</span></label><br />
			{{form.email2}}<br />

			<label id="message">Message: <span style="color: red;"> {{ form.message.errors.0 }}</span></label><br />
			{{form.message}}<br />
			<label id="message"><span style="color: red;"> {{ form.captcha.errors.0 }}</span></label><br />
            {{ form.captcha }}<br />

				<div class="submit">
					<!-- <button type="reset"><u>Clear</u></button>-->
					<button type="submit" value="Submit"><u>Submit</u></button>
				</div>
			</div>
        </form>
        {% for content in contents %}
        <div>
            {{ content.content|safe }}
        </div>
        {% endfor %}
    </div>
</div>

<!--=========//dashboardelement=========== -->
{% endblock dashboardelement %}
