{% extends "master.html" %}

{% block stylesheetlink %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}CustomThemes/maciek/css/contact.ccss" type="text/css" charset="utf-8">
{% endblock stylesheetlink %}
       
{% block content %}
<!--=========content=========== -->

<div class="form" >
    <div class="form_name">
        <h2>{{ contact_page.form_name }}</h2>
    </div>
    <div class="form_content">
        <form method="post" action="/contact/{{ current_page }}" 
                onsubmit="return checkifcompleted(document.orderform, requiredfield, errormess );">
		   {% csrf_token %}
		   <div class="form_input">
				<input id="default_input" type="hidden" />
				<table>
		            <tr><td><label id="cie_name" for="cie_name">Business Name
		                    <span style="color: red;"> {{ form.cie_name.errors.0 }}</span></label></td>
		                <td>{{form.cie_name}}</td>
		            </tr>
		            <tr><td><label id="firstname">First name
						    <span style="color: red;"> {{ form.firstname.errors.0 }}</span></label></td>
					     <td>{{form.firstname}}</td>
					</tr>
					<tr><td><label id="lastname">Last name 
					         <span style="color: red;"> {{ form.lastname.errors.0 }}</span></label></td>
		                <td>{{form.lastname}}</td>
		            </tr>
		            <tr><td><label id="phone_number">Phone Number
						    <span style="color: red;"> {{ form.phone_number.errors.0 }}</span></label></td>
						<td>{{form.phone_number}}</td>
					</tr>
					{% if emailerror %}
		            <tr><td colspan="2">
		                <div class="error">
		                    <H4>An error occured sending to this email address.</h4></div>
					     </td>
					</tr>
					{% endif %}
		            <tr><td><label id="email">Email
		                    <span style="color: red;"> {{ form.email.errors.0 }}</span></label></td>
					     <td>{{form.email}}</td>
					</tr>
		            <tr><td><label id="email2">Email Validation
		                    <span style="color: red;"> {{ form.email2.errors.0 }}</span></label></td>
					     <td>{{form.email2}}</td>
					</tr>
					{% if form.message.errors %}
		            <tr><td colspan="2"><span style="color: red;"> {{ form.message.errors.0 }}</span></label></td></tr>
		            {% endif %}
		            <tr><td colspan="2">{{form.message}}</td></tr>
		            <tr><td><span style="color: red;"> {{ form.captcha.errors.0 }}</span></label></td>
		                <td>{{ form.captcha }}</td>
			        </tr>
		        </table>
		    </div>

			<div class="submit">
	            <!-- <button type="reset"><u>Clear</u></button>-->
	            <button type="submit" value="Submit"><u>Submit</u></button>
	        </div>
	    </form>
	</div>
</div>

{% for content in contents %}
<div class="content">
    {{ content.content|safe }}
</div>
{% endfor %}
    
<script language="JavaScript" type="text/JavaScript" src="/static/Library/validation/order.js"></script>
<script>
    var requiredfield = new Array();
    requiredfield = {{ requiredfields|safe }};
    var errormess = new Array();
    errormess = ["Please fill all required fields!","Please, enter a valid email address!", "Email address don't match!"];
</script>
<!--=========//dashboardelement=========== -->
{% endblock content %}
