
<div class="paginator_nav_container {{ cssclass }}">
{% if page.has_previous %}
    <a class="pagination_previous_link" href="{% if paginator_slug %}{{ paginator_slug }}/{% endif %}?page={{page.previous_page_number}}">
    <span class="pagination_previous"></span></a>{%endif%}
{{ page.number }} / {{ page.paginator.num_pages }}
{% if page.has_next %}
    <a class="pagination_next_link" href="{% if paginator_slug %}{{ paginator_slug }}/{% endif %}?page={{page.next_page_number}}">
    <span class="pagination_next">&gt;</span></a>{%endif%}</div>
