{% load humanize %}
{% load i18n %}

<div class="vcms_blog_widget" style="overflow: hidden">
    <a href="{{ widget.get_absolute_url }}"><h6 class="newsblog_widget_title">{{ name|safe }}</h6></a>
    {% for post in posts %}
        {% if post.preview %}
        <div class="vcms_blog_widget_post">
            
            <a href="{{ post.get_absolute_url }}">
                <h3 class="vcms_blog_item_widget_title">{% if post.get_fields.short_title %}{{ post.get_fields.short_title }}{% else %}{{ post.title }}{% endif %}</h3></a>
            <!-- <h5>{{ post.date_published|naturalday }}</h5> -->
            <div class="vcms_blog_item_content">{{ post.description|striptags }}<br />
            <a href="{{ post.get_absolute_url }}" class="more">{% trans 'More ' %}...<span></span></a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>