{% extends "master.html" %}

{% block stylesheet %}
	<!--  <link href="/static/css/simthetiq_services.css" rel="stylesheet" type="text/css"> -->
{% endblock stylesheet %}

{% block content %}
<div class="content">
	 {%if orderform.errors %}<span style="color: red;"> {{ orderform.errors }}</span>{% endif%}
	<br />
	<div class="content_boxtop"></div>
		<div id="video "class="content_box content_center box product">
			<h2>FREE REAL-TIME MILITARY 3D MODEL IN OPENFLIGHT</h2>
			<hr>
			<p>Please fill the form to receive your free model in MultiGen&copy; Creator&trade; OpenFlight&copy; or Autodesk&copy; 3ds Max&copy; format, with full support for integration in your system.
			This initiative is to let you evaluate our 3d product, the visual fidelity, product support and to let us understand your needs and requirement for your visual. Please note that the support for customizing the model to your engine will be provided for free.
			<p>Once the model is fully integrated in your system, we will save your profile as our customer and will be in a better position to respond to urgent request by your customer by providing them "plug and play" model for your engine.
		

				<hr>
			Free Entity Model for Distributed Interactive Simulation (DIS) Interoperability content description:
			<li>Leopard C1A1 MEXAS Military Entity
			<li>Multiple LOD and Damage state. 
			<li>Fully articulated ( wheels - track - turret - barrel - cupola )
			<li>Multiple texture scheme ( OLIVE - DESERT - CAMO - WINTER - IR - RADAR )
			<li>Secondary weapon as external reference ( xref )
			<li>DIS attributes in the MultiGen Flight file
		</div>
		<div class="clear"></div>
	<div class="content_boxbottom"></div>
	<br />
	<div class="content_center"><img src="/static/img/order/freepanzer.png" /></div>
	<div class="content">
		<script language="JavaScript" type="text/JavaScript" src="/static/Library/validation/order.js"></script>
		<script>
			var requiredfield = new Array();
			requiredfield = {{ requiredfields|safe }};
			var errormess = new Array();
			errormess = ["Please fill all required fields!","Please, enter a valid email address!", "Email address don't match!"	];				
		</script>
		
		<div class="content_center">
			<h2>ORDER FORM</h2>
			<hr>
		</div>
		<form name="orderform" method="post" action="/order/" onsubmit="﻿return checkifcompleted(this, requiredfield, errormess );">
			<div class="content_sideleft">
				<label id="CieName" for="CieName">Business Name: &nbsp;<span style="color: red;"> {{ orderform.Business_name.errors.0 }}</span></label><br />
					{{ orderform.Business_name }}<br />
				<label id="Street">Street: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Street.errors.0}}</span></label>
					<br />{{ orderform.Street }}<br />
				<label id="City">City: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.City.errors.0}}</span></label><br />
					{{ orderform.City }}<br />
				<label id="ZipCode">Postal Code: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Postal_code.errors.0}}</span></label><br />
					{{ orderform.Postal_code }}<br />
				<label id="State">State: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.State.errors.0}}</span></label><br />
					{{ orderform.State }}<br />
				<label id="Country">Country: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Country.errors.0}}</span></label><br />
					{{ orderform.Country }}<br />
				<label id="Firstname">First name: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Firstname.errors.0}}</span></label><br />
					{{ orderform.Firstname }}<br />
				<label id="Lastname">Last name: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Lastname.errors.0}}</span></label><br />
					{{ orderform.Lastname }}<br />
				<label id="PhoneNumber">Phone Number: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Phone_number.errors.0}}</label><br />
					{{ orderform.Phone_number }}<br />
				<label id="Email">Email: &nbsp;<span style="color: red;"> &nbsp;{{ orderform.Email.errors.0}}</span></label><br />
					{{ orderform.Email }}<br />
				<label id="Email2">Email Validation: &nbsp;<span style="color: red;"> </span></label><br />
				<input id="id_Email2" type="text" name="Email2" value="" /><br /><br />
				
				<div class="submit">
					<noscript><input class="button" type="reset" value="Clear">|<input class="button" type="submit" value="Submit"></noscript>
					<button type="reset"><u>Clear</u></button>
					<span class="separator">|</span>
					<button type="submit"><u>Submit</u></button>
				</div>
			</div>
			<div class="content_sideright">
				<label>Application Type:</label><span style="color: red;">{{ orderform.Application_type.errors.0}}</span><br />
					{{ orderform.Application_type }}<br />
				<label>Message: &nbsp; <span style="color: red;">{{ orderform.Message.errors.0}}</span></label><br />
					{{ orderform.Message }}<br />
			</div>
	
				<div class="content_sideright free" style="margin-top: 3em;">
					<h2>DOWNLOAD</h2>
					<hr>
		  			<form action="/memberlogin" id="memberlogin" type="POST"  onsubmit="return checkmemberlogin(this,'username','passwd');">        
						<label id="username">Member login : </label><input name="username" type="text" size="16" /> <br />
		          		<label id="passwd">Password : </label><input type="password" name="passwd" size="16" />
		          		<button type="submit" alt="Submit!" class="submit"> <u>Login!</u> </button>
					</form>
				</div>
			<br />
		</form>
		<div class="clear"></div>
		<br />
	</div>
</div>
<br />
<div class="clear"></div>


{% endblock content %}
