{% extends "master.html" %}
{% load comments %}
{% load i18n %}
{% load humanize %}


{% block content_title %}
    <h1>{% trans "Latest News" %}</h1>
{% endblock content_title %}

{% block navigation %}
    {{ navigation_menu }}
{% endblock navigation %}

{% block content %}
    <!-- Content -->
    {% if contents %}
    {% for c in contents %}
	    <h6>{{ c.date_published|date:"F d, Y" }}</h6>
	    <div class="division_content content_box" name="{{ c.id }}">
	        <h5>{{ c.name }}</h5>
	        <p>
	            {{ c.content|truncatewords:50|safe }}
	        </p>
	        <div class="content_box_link">
	        <a href="{% url vcms.apps.simplenews.views.single_news category_slug=c.category.slug news_slug=c.slug %}">
	           {% trans "Full Story" %}
	        </a>
	        </div>
	    </div>
	    {% get_comment_list for c as comments_list %}
	    <!-- 
	    {% if c.comments_allowed or comments_list %}
	    <div class="comments">
	        <h5>
	            {% if not comments_list %}
	                {% trans "There are no comments for this news." %}
	            {% else %}
	                {% blocktrans count comments_list|length as counter %}
	                    There is one comment for this news.
	                {% plural %}
	                    There are {{counter}} comments for this news.
	                {% endblocktrans %}
	            {% endif %}
	        </h5>
	    </div>
	    {% endif %}
        -->
        <br />
    {% endfor %}
    {% endif %}
    <div>{{ paginator_html }}</div>
{% endblock content %}
