{% extends "master.html" %}
{% load comments %}
{% load i18n %}

{% block content %}
    <!-- Content -->
    <div class="division_content" name="{{ c.id }}">
        <br />
        <h4>{{ content.name|upper }}</h4>
        <hr />
        <div class="division_content">
            {{ content.content|safe }}
        </div>
        <div id="item_navigation">
            <div class="left">
                {% if previous_news %}
                    <a href="{% url vcms.apps.simplenews.views.single_news category_slug=previous_news.category.slug news_slug=previous_news.slug %}">{{previous_news.name}}</a>
                {% endif %}
            </div>
            <div class="right">
                {% if next_news %}
                    <a href="{% url vcms.apps.simplenews.views.single_news category_slug=next_news.category.slug news_slug=next_news.slug %}">{{next_news.name}}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% get_comment_list for content as comments_list %}
    {% if content.comments_allowed or comments_list %}
    <div class="comments">
        <h4>
            {% if not comments_list %}
                {% trans "There are no comments for this news." %}
            {% else %}
                {% blocktrans count comments_list|length as counter %}
                    There is one comment for this news.
                {% plural %}
                    There are {{counter}} comments for this news.
                {% endblocktrans %}
            {% endif %}
        </h4>
        {% if comments_list %}
            <hr/>
            {% render_comment_list for content %}
        {% endif %}
        {% if content.comments_allowed %}
        <hr/>
        <div class="form" >
                <h3>{% trans "Add a comment" %}</h3>
                {% get_comment_form for content as form %}
                <form method="post" action="{% comment_form_target %}">
                {% csrf_token %}
                    <table class="standard">
                        {{ form }}
                    </table>
                    <div class="form_input">
                        <input type="submit" name="preview" class="submit-post" value="Preview">
                    </div>
				</form>
        </div>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}

{% block navigation %}
    <ul>
    {% for category in categories %}
        <li><a href="{% url vcms.apps.simplenews.views.list_news category_slug=category.slug %}">{{category.name}}</a></li>
    {% endfor %}
    </ul>
{% endblock navigation %}
