*{margin:0; padding:0; }

#header_email, #content{width:766px; margin:auto}

body{background:#C4C4C1; font:13px/18px Verdana, Arial, helvetica, sans-serif; color:#525252;}

a{color:#525252; text-decoration:underline;}
a:hover{text-decoration:none}

#header_email {background:url(/static/img/header/full_header.jpg) top no-repeat;height: 185px;}

#content { position: relative; margin: 1em auto auto auto; padding: 0em 1em; }
#content div {  position: relative; }
#content p, h3, table { position: relative; font-size: 1.1em;}
