{% extends "master_frame.html" %}
{% load www_extras %}
{% load banner_widget %}
{% load search_widget %}
{% load i18n %}

{% block vcms_content_header %}
    {% show_search_box %}
    {% if page_info %}
        {% show_banner page_info.current_page MEDIA_URL %}
    {% endif %}
{% endblock vcms_content_header %}

{% block vcms_main_content %}
    <div class="float_container">
       {% block page_absolute_content %}
       {% endblock page_absolute_content %}
		<div>
		    <div id="page_title">
		        {% block content_title %}
                {{ contact_page.page_header|safe }}
                {% endblock content_title %}
            </div>
		    {% block content %}
				<!-- Content -->
				{% if contents %}
				{% for c in contents %}
				<div class="division_content" name="{{ c.id }}">
					<br />
					<h4>{{ c.name|upper }}</h4>
					<hr />
					<div class="division_content">
						{{ c.content|safe }}
					</div>
				</div>
				{% endfor %}
				{% endif %}
		    {% endblock content %}
		</div><!-- vcms_content -->
        <div id="vcms_pagination">
            {% block pagination %}
            {% if paginator %}
            <span class="step-links">
                <span class="current">
                    Page {{paginator.number}} {% trans 'of' %} {{paginator.paginator.num_pages}}
                </span>
                {% if paginator.has_previous %}
                    <a href="{{paginator_previous_url}}"> &lt;&lt; {% trans 'previous' %}</a>
                {% endif %}
                {% if paginator.has_next %}
                    <a href="{{paginator_next_url}}">{% trans 'next' %} &gt;&gt;</a>
                {% endif %}
            </span>
            {% endif %}
            {% endblock pagination %}
        </div><!-- vcms_pagination -->
	</div><!-- vcms_content_container -->
	<div class="clear"></div>
{% endblock vcms_main_content %}
	

{% block vcms_footer %}
<!-- =========footer=========== -->
     <span id="copyright">Simthetiq.Com &copy; 2010 |</span>
    {% comment %}
    {% if page_info.current_page %}
        {% show_footer_menu page_info.current_page %}
     {% else%}
        {% show_footer_menu %}
    {% endif %}
    {% endcomment %}
{% endblock vcms_footer %}
