{% extends "master.html" %}

{% block title %}
	Search result for {{ query }}
{% endblock title %}

{% block content %}
<!--=========content=========== -->

<div class="division_content">
	<h1>Our database in being updated</h1>
	<p>Please register to have first access when available!</p>
	<p>You will receive confirmation when the products database is online</p>
	<p><a href="/accouts/register">Proceed to registration</a></p>
</div>


<!--=========//content=========== -->
{% endblock content %}
