
body{ }
#vimba_cms_body { background-color: #C4C4C1; 
				font-size:10pt; font-family: Arial, sans-serif; color: white; 
		padding: 0; margin:0; }

h1,h2,h3,h4,h5,h6 { font-weight: normal;}
h2,h3 {font-size: 1.7em; }
h2 {line-height: 1.0; margin: 0.5em;}
h3 { color: #9bff27; }
h5 { font-size: 1.1em; padding: 0; margin: 0;}
h6 { font-size: 1em; color: rgb(155,255,39); margin: 0.2em 0 0.2em 1em; }

.submit a {color:#525252; text-decoration:underline; font-size: 1.2em; }
.submit a:hover{text-decoration:none}

a { color: #9bff27; text-decoration: none;}
a:hover{ text-decoration: underline;}

img { border-style: none;}

hr { margin: 0 0 0.6em 0; border: 0; width: 100%; background-color: #ccc;  height: 1px;}

input, textarea, select{ font-size: 1em; Arial, helvetica, sans-serif; color:#525252; padding:2px 0 0 2px; text-transform:none; border: 1px solid #5C5C5C;}
input, select{ }
button {color: rgb(155,255,39);}
input#search_submit { background-color:#4b4b4b; color: #ddd; border: none; text-decoration:none; font-size: 1em;}
div#vcms_search_form input { float: right ;}

li a{color:#525252; text-decoration:underline; line-height:18px;}
li a:hover{text-decoration:none}

table { width: 80%; border-bottom: 1px solid white; text-align: center; margin: 0 auto; padding: 0;}
table tr, th { border-bottom: 1px solid white; margin: 0; padding: 0;}


.clear{clear:both}
.center { margin-right: auto; margin-left: auto; }
.error { border: 0.2em solid #fb6a31; background-color: #fea886; width: 90%; margin: 0; padding: 0; clear: both; text-align: center; }
.error h4 { margin: 1em 0;}

/*=========================================Captcha==========================================*/
img.captcha { }
input#id_captcha_1 { width: 4em; margin: 0 0 0 1em; heigth: 1em; }

/*=========================================Header==========================================*/

div#cms_header { background: url(../images/header/full_header.jpg) top left repeat-x #4b4b4b; 
				position:relative; width:955px; heigth: 110px; margin: 0 auto; padding: 0;}
div#cms_header_logo { width: 320px; height: 110px; margin-left: -3px;}
/* div#header_freemodel { position: absolute; background:url(../images/header_freemodel.png) top no-repeat; bottom: 20px; right: 13px; width: 387px; height: 35px;} */

/*=========================================MENU==========================================*/
div#mainmenu { position: relative; width:955px; margin: 0 auto; padding: 0;
				background-color: #363636;}
div#mainmenu ul { position: relative;  width: 100%;  height: 16px;
				margin: 0 auto; padding: 5px 0 5px 0;}
				
div#mainmenu li { float: left; list-style: none; margin: 0 15px; padding: 0; display: block; font-size: 1.15em;  }
div#mainmenu li a { text-decoration: none; 
				color: white; text-shadow: #000 1px 2px 3px;}
div#mainmenu li a:hover { color: #9bff27; text-decoration: underline; }
div#mainmenu li.menu_selected a{ color: #9bff27; }

/* -------------------SUBMENU ---------------------- */
div#submenu { position: relative; width:955px;  margin: 0 auto; padding: 0; 
				background-color: #363636; font-size: 1.15em;}
div#submenu ul { position: relative; height: 16px;
				 margin: 0; padding: 4px 0 4px 0; width: 100%;}
div#submenu li { float: left; list-style: none; margin: 0 15px; padding: 0; }
div#submenu li a {position: relative; color: rgb(155,255,39);
					text-shadow: #111 2px 2px 3px; text-decoration: none; }
div#submenu li a:hover { text-decoration: underline; }
div#submenu li.submenu_selected a{ text-decoration: underline; }

/* -------------------BANNER ---------------------- */
div#banner { width: 955px; heigth: 73px; margin: 0 auto 0 auto;}

/*=========================================content==========================================*/

.content { position: relative; clear: both; width: 955px;
		margin: 0 auto 0 auto; padding: 0; border: 0; 
		background-color: #4b4b4b;}
/* .content_center { padding: 0 1em 1em 1em;} */
.content div {}

/* form order */
.content form .submit { clear: both; top: 1em;  text-align: left; width: 100%; }
.content button { font-size: 1.2em; border: none; background: none;}
.content ul{list-style: none; padding: 0;}
.content h4 {color: rgb(155,255,39); margin: 1em 1em 0 0; font-size: 1.3em; font-weight: normal;}
.content hr { height: 2px;}
.content label { margin-top 1em;}
.content tr { padding-top: 2em; }
.content input,textarea, select { margin: 0.1em auto 0.6em 0; font-size: 1em; width: 80%; }
.content .separator { color: #303030; font-size: 1.3em; margin: 0.2em;}
.content img { padding: 0; margin: 0; }
.content img.floatleft { float: left; margin: 1em;}
.content img.floatright, object.floatright { float: right; margin: 1em; }
form div {width: 99%; }
form .form_sideleft { float: left; width: 50%;}
form .form_sideright { float: right; width: 50%;}
.content object { width: 350px; height: 260px; }

.content .linkbutton { background: url(../images/button.png) center no-repeat;  height: 48px; width: 243px; }
.content .linkbutton h3 { margin: 0 0 0 0; color: #fff; font-size: 1.4em; text-align: center;line-height: 48px; }

.box { width: 465px; margin: 0; }
.content ul, ol, p{ margin-left: 1em; margin-right: 1em; }
.content li a { color: #ddd; text-decoration: none;}
.box table {  margin: 0; padding: 0;}
.box td { vertical-align: top; }
.box h2 { color: #fff; margin: 0; }


hr.free {background-color: #525252; } 
#menu_single {background:transparent url(../images/single.png) no-repeat;
height:30px; margin:4pt 12px 0pt auto; padding:0px; width:126px;}
#menu_redis {background:transparent url(../images/redis.png) no-repeat;height:30px;
	margin:4pt 12px 0pt auto; 	padding:0px; width:166px;}

/*=========================================AJAX==========================================*/
div.ajax img { float: left; margin-right: 1em;}
div.ajax { margin: 1em; }

/*=========================================NEWS==========================================*/
span.newsdate { float: right; margin-right: 1em;}

/*=======================================PREVIEW=========================================*/
div.preview_content {}
.link { heigth: 1em; margin: 1em 20px 1em auto; float: right; position: relative; text-align: right; }

/*=======================================PRODUCTS=========================================*/
div.division_header { background-color: #363636;
 					border-bottom: 2px #C4C4C1 solid;
					color: rgb(155,255,39); font-size: 1.1em; 
					padding: 6px 0 0 1em; height: 24px;
					text-shadow: #111 2px 2px 3px;
					cursor: pointer; clear: both;}
div.division_content { padding : 0.6em 1em 0.6em 1em; clear: both; position: relative;vertical-align: middle; }

div.division_header .image { position: absolute; right: 10px; top 0px;}
div.floatleft { float: left;}
div.floatright { float: right; }

/* div.division_content object { padding : 10px; position: relative; float: right; width: 370px; height: 180px;} */
div.media_holder { margin: auto 2em;  }
div.media_holder img, object.thumbnail { padding: 4px 4px 12px 4px; 
					background-color: #222; border: 0;}
div.media_holder img.thumbnail, object.thumbnail { width: 100px; height: 40px; }

div.division_header .open {background}
div.division_header .close {}

div.product_nav { position: relative; top: 0; cursor: pointer; vertical-align: middle;
                    padding: 0 10px;  width: 16px; height: 100%;}
div.product_nav img { position: absolute; top: 25%;}
div#product_nav_left { position: absolute; left: 0; top: 0%; width: 26px; padding: 0 20px;}
div#product_nav_right {position: absolute; right: 0; top: 0%; width: 26px; padding: 0 20px;} 
div.product_content { width: 780px; min-height: 140px; margin: 0 5em 0 5em; padding: 0;}
div#product_description { position: relative; width: 914px; }
div#category_nav  { float: left; width: 320px; }
div#category_items { float: left; width: 600px; }

img.original_image { float: left; margin-right: 1em; width: 320px; height: 240px;}

/*=========================================GALLERY==========================================*/
div.gallery_nav { position: absolute; top: 0; cursor: pointer;
                    padding: 0 10px;  width: 30px; height: 310px;}
div.gallery_nav img { margin-top: 100px;  }
div#gallery_left { left: 0;}
div#gallery_right { right: 0; }

div.gallery_display { position: relative; left: 45px; top: 0;
                    width: 840px; height: 310px; margin: 0;
                    overflow: hidden; }

.gallery_display img { margin: 3px 6px;}
#gallery { position: relative; }


/*=========================================footer==========================================*/
.footer{ background:url(../images/footer_bg.jpg) bottom repeat-x; color: #525252; 
		margin-top: 3em; clear: both; height: 147px; }
.footer_content { width: 955px; height:147px; margin : 0 auto; padding: 0;}
.footer p.first { padding-top: 65px;}
.footer p {text-align: center; }
.spacer { margin: auto 1em; }
.footer a{text-decoration:none; color:#525252;}
.footer a:hover{text-decoration:underline;}
