{% load i18n %}
    <script language="javascript" type="text/javascript">
            {% for page in all_pages %}
                all_pages["{{ page.name }}"] = new page({{ page.id }}, 
										"{{ page.name}}",
									{{ page.display|lower }},
									{{ page.level }},
									{% if page.parent_id %}{{ page.parent_id }}{% else %} null {% endif %},
									{{ page.tree_position }},
                    				"{{ page.module }}");
            {% endfor %}

    </script>

	<div id="vimba_cms_body">
    <form id="updatemenu" method="post" action="#">

		<div id="cms_header"><div id="cms_header_logo" onclick="document.location.href='/'" onmouseover="style.cursor='pointer'"></div></div>
        <div id="mainmenu">
            <ul id="mainmenu_container">
                {% for menu in menu_list %}{% endfor %}
            </ul>
			<div class="clear"></div>
        </div>
		<br />
        <div id="submenu">
            <ul id="submenu_container">
        	{% for key, values in submenus.items %}
                {% for submenu in values.submenu %}
					<li></li>
                {% endfor %}
        	{% endfor %}
        	</ul>
			<div class="clear"></div>
        </div>
            
            <div id="pages_container" style=" width: 956px; margin: 1em auto auto auto; border: thin solid green" >
				<div id="trash" class="dndContainer" style="float: left;" dojoType="dojo.dnd.Target" jsId="trash">
                	<span style="font-size:1.4em; color: white;">{% trans "Remove menu" %}</span>
            	</div>
				<div style="float: left; width: 70%">
                {% for module in modules %}
                    <div style="margin: 15px; width: 300px; float: left;">
                        <p>{{ module.module }}</p>
                            <ul dojoType="dojo.dnd.Source"  id="container_{{ module.module }}" class="dndContainer" style="width: 300px">
                            </ul>
                    </div>
                {% endfor %}
				</div>
            </div>
            <div class="clear"></div>
            <input id="submit" type="submit" name="save" alt="save" onclick="submit_data(); return false;" style="position: relative; margin: 0 1em 1em 1em;" />
			<span id='savingmess'></span>
        </form>
		</div>
<!-- <input name="" type="input" value="{{module.id}}" style="display:none;" /> -->