{% extends "master.html" %}

{% block stylesheet %}
{% endblock stylesheet %}

{% block javascript-include %}
	<script type="text/javascript" src="/static/js/jquery/jquery-ui-1.7.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jQueryRotate.js"></script>
	<script type="text/javascript" src="/static/js/content_header_arrow_rotation.js"></script>
{% endblock javascript-include %}

{% block jquery %}

   	{% for element in elements %}
		create_header_arrow("{{element.id}}", "{{element.display}}");
    	$("#{{element.id}}").click(function () {
    		$("#{{element.id}}_content").toggle("blind", { direction: "vertical" }, 500);
			change_status({{element.id}});
		 });
   	{% endfor %}

		create_header_arrow("fileformat", "True");
    	$("#fileformat").click(function () {
      		$("#fileformat_content").toggle("blind", { direction: "vertical" }, 500); 
			change_status("fileformat");
		});

		create_header_arrow("modellist", "True");
		$("#modellist").click(function () {
	  		$("#modellist_content").toggle("blind", { direction: "vertical" }, 500);
			change_status("modellist");
		});
				
{% endblock jquery %}

{% block content %}
		<!-- Content -->
		{% if current_page.name %} <!-- CATEGORY -->
		<div class="division_content">
			{% if domain_page.video %}
			<object class="floatright"
					type="application/x-shockwave-flash" 
					data="{{ MEDIA_URL}}{{ domain_page.video.file }}">
				<param name="Section Movie" value="{{ MEDIA_URL}}{{ domain_page.video.file }}" />
			</object>
			{% endif %}
			<h4>DOMAIN {{ domain_page.name|upper }} :</h4>
			<div>{{ domain_page.content|safe }}</div>
		</div>
		{% endif %}
		{% if categories %} <!-- TYPES -->
		<div id="modellist" class="division_header">MODEL LIST
			<img id="modellist_image" class="image" src="{{ MEDIA_URL }}static/img/content_header_arrow2.png" />	
		</div>
		<div id="modellist_content" class="division_content" style="display: block;">
		  <div id="catogory_nav">
		      <form style="width:280px;">
		      <input type="checkbox" id="all" style="float:left; width: 20px;"><span>All</span></input>
		      <div class="clear"></div>
		      {% for category in categories %}
		      <input style="float:left; width: 20px;" type="checkbox" id="{{ category.category.id }}_{{selected_category}}" {% ifequal selected_category category.category.id %}checked="true"{% endifequal %}>
		      <span style="float:left;">{{ category.category }}</span></input>
		      <div class="clear"></div>
		      
              {% endfor %}
              </form>
		  </div>
          <div id="catogory_item">
              {% for category in categories %}
                    <ul id="{{ category }}">
                    {% for p in category.products %}
                        <li><a href="{{ p.get_absolute_url }}">{{ p }}</a></li>
                    {% endfor %}
                    </ul>
              {% endfor %}
          </div>
		  
            <div class="media_holder">
                <!--  <h4>CATEGORY {{ current_page.name|upper }} :</h4>-->
                {% for category in categories %}
                <div style="width: 33%; float: left; text-align: center;">
                    <br />
                    <h4>{{ category.category }}</h4>
                    <ul>
                    {% for p in category.products %}
                        <li><a href="{{ p.get_absolute_url }}">{{ p }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            
            <div class="clear"></div>
        </div>
        <!--  old style -->>
		<div id="modellist_content" class="division_content" style="display: block;">
			<div class="media_holder">
				<!--  <h4>CATEGORY {{ current_page.name|upper }} :</h4>-->
				{% for category in categories %}
				<div style="width: 33%; float: left; text-align: center;">
					<br />
					<h4>{{ category.category }}</h4>
					<ul>
					{% for p in category.products %}
						<li><a href="{{ p.get_absolute_url }}">{{ p }}</a></li>
					{% endfor %}
					</ul>
				</div>
				{% endfor %}
			</div>
			
			<div class="clear"></div>
		</div>
		{% endif %}
		{% for element in elements %}
			<div id="{{element.id}}" class="division_header">{{element.name|upper }} 
				<img id="{{element.id}}_image" class="image" src="{{ MEDIA_URL }}static/img/content_header_arrow2.png" />
			</div>
			<div id="{{element.id}}_content" class="division_content" style="display: {% if element.display %} block {% else %} none {% endif %};">
				{% if element.images.all %} <!-- IMAGES -->
                    <h6>IMAGE : </h6>
                    <div class="media_holder">
                    {% for image in element.images.all %} <!-- FOR IMAGES -->
                        <a href="{{ MEDIA_URL }}{{ image.file }}" title="{{image.name}}" rel="prettyPhoto[{{element.name}}]">
                            <img alt="{{image.description|striptags}}" src="{{ MEDIA_URL }}{{ image.thumbnail }}" />
                        </a>
                    {% endfor%}
                    </div>
				{% endif %}
				
				{% if element.videos.all %} <!-- FOR VIDEOS -->
                    <h6>VIDEO : </h6>
                    <div class="media_holder">
                    {% for video in element.videos.all %}
                        <a href="{{ MEDIA_URL}}{{ current_page.video.file }}?width=560&amp;height=330&amp;" title="{{video.name}}"
                            rel="prettyPhoto;width=600;height=430;flashvars=clip_id={{ video.id }}">
                            {% if video.thumbnail %}
                                <img alt="{{video.description|striptags}}" src="{{ MEDIA_URL }}{{ video.thumbnail }}" />
                            {% else %}
                                <img alt="{{video.description|striptags}}" src="{{ MEDIA_URL }}static/img/default/media/video.png" />
                            {% endif %}
                        </a>
                    {% endfor%}
                    </div>
				{% endif %}
				
				<h4>{{ element.name|upper }} : </h4>
				<div>{{ element.content|safe }}</div>
			</div>
		{% endfor %}
	
		{% if category.file_format %} <!-- FILE FORMAT -->
		<div id="fileformat" class="division_header">FILE FORMAT
			<img id="fileformat_image" class="image" src="{{ MEDIA_URL }}static/img/content_header_arrow2.png" />
		</div>
		<div id="fileformat_content" class="division_content"  style="display: none;">
		{% for format in fileformat%} <!-- FOR FILEFORMAT -->
			<p>{{ format }}</p>
		{% endfor %}
		</div>
		{% endif %}

		<div class="clear"></div>
{% endblock content %}
