{% extends "master.html" %}

{% block content %}
<!--=========content=========== -->

<div class="fl_content">
  <div class="main" id="cont">
    <div class="column"><img src="/static/img/spacer.gif" width="30" height="1" alt="" /></div>
    <div class="col_1">
      <div class="rb">
        <div class="top_left">
          <div class="top_right">
            <div class="bot_left">
    			<div class="bot_right"><img src="/static/img/4_h_1.gif" alt="" /><br />
                	<div class="s_dv h_1"><img src="/static/img/spacer_gray.gif" width="335" height="1" alt="" /></div>
                	<br />
                	<img src="/static/img/4_pic_1.jpg" style="margin-right:1px; float:left" alt="" />Technical support is available to users of Simthetic products. Support is available  five days a week (Monday through Friday).
              	</div>
            </div>
          </div>
        </div>
      </div>
      <div><img src="/static/img/spacer.gif" width="1" height="46" alt="" /></div>
      <div class="indent"><img src="/static/img/4_h_3.gif" alt="" /><br />
        <div class="m_dv h_2"><img src="/static/img/spacer.gif" width="1" height="1" alt="" /></div>
        <p><br />
            <a href="#">File format / Convertion.</a><br />
          With over than 10 years of experience in the simulation and computer graphics industry, our team can help standardise our product to your file format.</p>
        <p>Just call us or send us and e-mail.<br />
          <br />
            <a href="#">Specific requirement. </a><br />
          Your project require 3D interior, custom animation, different markins or new 3d elemets? We are available as &quot;Work For Hire&quot; to customize your visual&nbsp;for different system or project requirement.</p>
      </div>
    </div>
    <div class="column"><img src="/static/img/spacer.gif" width="43" height="1" alt="" /></div>
    <div class="col_2"><img src="/static/img/4_h_2.gif" alt="" /><br />
      <div class="m_dv h_3"><img src="/static/img/spacer.gif" width="1" height="1" alt="" /></div>
      <br />
      <br />
      Customer Service:<br />
      Telephone: 1-514-464-2088<br />
      E-mail: <br />

      <a href="mailto:#">info@simthetiq.com</a><br />
      <br />
      Support Department:<br />
      Telephone: 1-514-464-2088<br />
      E-mail: <br />
      <a href="mailto:#">support@simthetiq.com</a><br />

      <br />

      <br />
    </div>
    <div class="column"><img src="/static/img/spacer.gif" width="65" height="1" alt="" /></div>
    <div class="clear"></div>
  </div>
</div>

<!--=========//content=========== -->
{% endblock content %}