div#vcms_navigation_container dl {
  padding: 0;
  margin: 0;
  background-color: #dadada;
}

div#vcms_navigation_container dt {
  padding: 0 0.8em;
  margin: 0;
}

div#vcms_navigation_container dt:hover,
div#vcms_navigation_container dd:hover,
div#vcms_navigation_container li:hover {
  background-color: #7e7e7e;
}