
{% extends "master.html" %}

{% block content %}
<div class="content">
		<div class="content_boxtop"></div>
		<div class="content_box content_center box">
	  		<h2>ITAR &amp; CGP Compliance</h2>
<hr>
				<p>
Simthetiq is based in Canada, and we  are identified by a Controlled Goods Directorate (CGD) 
		  <br />
		  	    <p><strong>Q : What is Controlled Goods Directorate (CGD) ?<br /> 
          </strong>                
		  	    <p><strong>A: </strong>The  Controlled Goods Directorate (CGD) helps strengthen Canada's defence trade  controls through registration, prevention, deterrence and detection. This is  achieved by regulating the access, possession and transfer in Canada of  controlled goods and/or controlled technology. The CGD is legislated by the  Defence Production Act (DPA). 
  	            <p>US-based defense clients often  require shielding solutions for electronic applications that are subject to  ITAR controls. Additionally, Canadian counterpart regulations and the Defense  Production Act require us to treat certain products as Controlled Goods  regardless of whether or not they are subject to ITAR controls. For these  reasons, Simthetiq is registered with the Controlled Goods Directorate (CGD),  which administers the Controlled Goods Program (CGP) in Canada. Our  registration with CGP can be <a href="http://www.cgp.gc.ca/cgdweb/text/index_e.htm" target="_blank">accessed and verified directly with  the CGD.</a><br />
          The ITAR regulations provide  exemptions to export permit requirements, which would otherwise be required to  transmit technical data to Simthetiq in support of ITAR controlled  applications. Section 126.5 of the ITAR sets out the Canadian exemption  mechanisms, as well as certain limitations in paragraphs (b) (1) to (b) (21) of  this section. </p>
                <p>Because of our registration and compliance with  CGP regulations, Simthetiq qualifies as a &quot;Canadian-registered  person&quot; according to this section of the ITAR. Provided that your  application is not limited by specific restrictions due to its application  scenario, you should be able to transmit any required technical data without an  export permit. Generally, any such technical data will fall under the  categories of paragraph (c) (6) (i) or (ii) of the same section. Please refer  to the ITAR for specific details on the Canadian exemptions and other  requirements that may be applicable to your situation. </p>
                <p>&nbsp;</p>
                <p>If you have any questions or comments about this ITAR &amp; CGP Compliance please contact;<br />
                  <br />
    Simthetiq Inc.<br />
5590 5th Avenue,<br />
Montreal, Quebec, Canda<br />
H1Y 2S7<br />
Telephone: 1 514 464 2088<br />
  <br />
  </span></span></span>Email: <a href="mailto:info@simthetiq.com">info@simthetiq.com</a><a href="mailto:info@simthetiq.com"></a></p>
  </div>
  <div class="content_boxbottom"></div>
		<br />
</div>

{% endblock content %}
