<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <title>{% block title %}Vimba ERP Solution{% endblock %}</title>
	<meta name="author" content="Vimba Inc. Francis Lavoie"/>
	<meta name="copyright" content="Vimba inc."/>
	<meta name="keywords" content="Vimba - ERP Solution"/>
	<meta name="description" content=""/>

    <style type="text/css">
        @import "{{ MEDIA_URL }}CustomThemes/Simthetiq/css/style.css";
        
    </style>
        <!--  @import "{{ MEDIA_URL }}Library/dojo/dijit/themes/tundra/tundra.css"; -->
    {% block css %}{% endblock css %}

	{% block js %}{% endblock js%}



</head>

<body class="tundra">

        {% block navigation %}{% endblock %}

</body>

</html>

