div#vcms_navigation_container {
  z-index: 15;
  padding: 0;
}

div#vcms_navigation_container h1.navigation_title {
  color: #b9ff3c;
  font-weight: normal;
  font-family: arial, sans-serif;
  font-size: 0.9em;
  margin-bottom: 0.2em;
  padding-left: 0.7em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #656565;
  text-transform: uppercase;
  margin: 0;
  background: url(../images/side_navigation/black_stripe.jpg) bottom repeat-x;
}

div#vcms_navigation_container dl {
  padding: 0;
  margin: 0;
}

div#vcms_navigation_container dt {
  background-color: #333333;
  color: #d0cfce;
  display: block;
  font-size: 0.8em;
  padding: 0.2em 0.6em 0.2em 1.8em;
  margin: 0;
  text-transform: uppercase;
  background: url(../images/side_navigation/black_stripe.jpg) bottom repeat-x;
  border-bottom: 1px solid #656565;
}

div#vcms_navigation_container dt a {
  background-image: url(../images/navigation/arrow_light_and_green.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
  display: block;
  padding-left: 1em;
  color: #d0cfce;
}

div#vcms_navigation_container dt.selected > a {
  color: #b9ff3c;
  background-position: 0 -18px;
}

div#vcms_navigation_container dt a:hover {
  color: #b9ff3c;
  background-position: 0 -18px;
}

div#vcms_navigation_container dt:hover,
div#vcms_navigation_container dt.selected {
  background: url(../images/side_navigation/selected_bd.jpg) top right no-repeat #141c06;
}

div#vcms_navigation_container dd {
  padding: 0.2em 1.3em;
  margin: 0;
  background-color: #dadada;
}

div#vcms_navigation_container dd:hover,
div#vcms_navigation_container li:hover {
  background-color: #7e7e7e;
}

div#vcms_navigation_container dd,
div#vcms_navigation_container li a {
  font-decoration: none;
  font-size: 1em;
  color: #d0cfce;
  display: block;
  margin-left: 1em;
}

div#vcms_navigation_container dd:hover,
div#vcms_navigation_container li a:hover {
  color: #aaf82e;
}