{% extends "master.html" %}

{% block stylesheet %}
	<!--  <link href="/static/css/simthetiq_services.css" rel="stylesheet" type="text/css"> -->
	{% endblock stylesheet %}

{% block content %}
<!--=========content=========== -->
<div class="content">
<div class="content_boxtop"></div>
	<div class="content_box box content_center">
		<div>
			<h2>MEMBER</h2>
			<hr>
			<p>This section give access to free product update.</p>
		</div>
	</div>
	<div class="content_boxbottom"></div>
  	<br />
  	
  	<div class="content_sideleft free">
  		<form action="/memberlogin" id="memberlogin" type="POST"  onsubmit="return checkmemberlogin(this,'username','passwd');">        
			<label id="username">Member login : </label><input name="username" type="text" size="16" /> <br />
          	<label id="passwd">Password : </label><input type="password" name="passwd" size="16" />
          	<button type="submit" alt="Submit!" class="submit"> <u>Login!</u> </button>
		</form>
	</div>
	<div class="clear">

<div class="content_boxtop"></div>
	<div class="content_box box content_center">
		<div>
			<h2>CUSTOMER PROFILE</h2>
			<hr>
		<table>
		  	<tr>
			    <td width="15%">
		      <a href="http://www.metavr.com/" target="_blank"><img src="../static/img/customer/metavr_02.gif" name="metavr" width="100" height="100" border="0" id="metavr" /></a><br />		</td> 
					 <td width="5%"></td>
					 <td width="*">
						 <br>
				    <p>MetaVR creates 3D real-time PC-based visual systems that provide the fidelity of geospecific simulation with game quality graphics.				    </p>			    </td>
		    </tr>
		  	<tr>
		  	  <td colspan="3"><hr></td>
	  	  </tr>
		  	<tr>
		  	  <td><a href="http://www.l-3com.com/" target="_blank"><img src="../static/img/customer/L3logo.png" alt="" name="metavr" width="123" height="70" border="0" id="metavr2" /></a></td>
		  	  <td></td>
		  	  <td>&nbsp;</td>
	  	  </tr>
		  	<tr>
		  	  <td colspan="3"><hr></td>
	  	  </tr>
	    </table>
        <table width="931">
          <tr>
            <td width="15%"><a href="http://www.gdls.com/" target="_blank"><img src="../static/img/customer/gdls.gif" name="metavr" width="300" height="38" border="0" id="metavr3" /></a><br />            </td>
            <td width="5%"></td>
            <td width="*"><br />
                <p>&nbsp;</p></td>
          </tr>
        </table>
        <hr>
				<p><br />
		  </div>
</div>
	<div class="content_boxbottom"></div>


			
</div>

<!--=========//content=========== -->
{% endblock content %}
