{% extends "master.html" %}

{% block content %}
<div class="content">  
	<div class="content_boxtop"></div>
	<div class="content_box content_center box">
			{% if successful %}
			<br />
			<h3>Your order has been sent!</h3>
			<p>You will receive a confirmation email shortly</p>
			<p>Thank you!</p>
			{% else %}
				<br />
				<p>An error as occured!</p>
				<p>It has been repport to simthetiq support. You may try later.</p>
				<p>Thank you!</p>
			{% endif %}
						<br />
	</div>
	<div class="content_boxbottom"></div>
	
</div>
<br />
<div class="clear"></div>

{% endblock content %}

