{% load thumbnail %}
{% if has_banner %}
	{% ifequal banner.style 0 %} <!-- Banner with effect/rotation -->
	<div id="banner">
	   <div id="s3slider" style="width: {{banner.get_size.0 }}px; height: {{ banner.get_size.1 }}px">
	   <ul id="s3sliderContent">
	   {% for bimage in banner_images %}
	        <li class="s3sliderImage">
	            {% if bimage.url %}
	                <a class="imagelink" href="{{bimage.url}}">
	                    <img src="{% thumbnail bimage.file banner.get_size crop %}" alt="{{banner.description|striptags}}" title="{{bimage.name}}" />
	                    <!-- <img src="{{ MEDIA_URL }}{{ bimage.file }}" alt="{{banner.description|striptags}}" title="{{bimage.name}}" /> -->
	                </a>
	            {% else %}
		            <img src="{% thumbnail bimage.file banner.get_size crop %}" alt="{{banner.description|striptags}}" title="{{bimage.name}}" />
	                <!-- <img src="{{ MEDIA_URL }}{{ bimage.file }}" alt="{{banner.description|striptags}}" title="{{bimage.name}}" /> -->
	            {% endif %}
	            {% if bimage.description %}
	                <span>{{ bimage.description|safe }}</span>
	            {% else %}
	               <span></span>
	            {% endif %} 
	        </li>
	    {% endfor %}
	    </ul>
	   </div>
	</div>
	{% else %} <!-- Banner random -->
		<div id="banner">
		{% if banner_images.0.url %}
		<a class="imagelink" href="{{banner.url}}">
            <img src="{% thumbnail banner_images.0.file banner.get_size crop %}" alt="{{banner.description|striptags}}" title="{{bimage.name}}" />
		</a>
		{% else %}
		  <img src="{% thumbnail banner_images.0.file banner.get_size crop %}" alt="{{banner.description|striptags}}" title="{{bimage.name}}" />
		{% endif %}
		 </div>
	{% endifequal %}

{% endif %}
