{% extends "master_frame.html" %}
{% load search_widget %}

{% block bodyclass %}large{% endblock bodyclass %}

{% block vcms_content_header %}
    {% show_search_box %}
    {{ block.super }}
{% endblock vcms_content_header %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    <div id="vcms_navigation_container" class="dark_bg">
        {{navigation_container.render|safe}}
    </div>
{% endblock navigation %}

{% block vcms_main_content %}
    <div class="vcms_container_table main_content clear_bg">
	    {{main_content.render|safe}}
    </div>
{% endblock vcms_main_content %}
