{% extends "master_frame.html" %}
{% load search_widget %}
{% load containers %}

{% block bodyclass %}large{% endblock bodyclass %}

{% block vcms_content_header %}
    {% show_search_box %}
    {{ block.super }}
{% endblock vcms_content_header %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
        {% relative_container page_info.current_page 'side_navigation' %}
{% endblock navigation %}

{% block vcms_main_content %}
    <div class="vcms_container_table main_content clear_bg">
	    {% relative_container page_info.current_page 'content' %}
    </div>
{% endblock vcms_main_content %}
