{% extends "master_frame.html" %}
{% load search_widget %}
{% load containers %}

{% block bodyclass %}large{% endblock bodyclass %}

{% block vcms_content_header %}
    {% show_search_box %}
    {{ block.super }}
{% endblock vcms_content_header %}

{% block vcms_main_content %}
    <div class="vcms_container_table main_content clear_bg">
        <table><tr>
           <td>{% relative_container page_info.current_page 'content_col1' %}</td>
	       <td>{% relative_container page_info.current_page 'content_col2' %}</td>
	    </tr></table>
    </div>
{% endblock vcms_main_content %}
