{% extends "master_frame.html" %}
{% load search_widget %}

{% block bodyclass %}large{% endblock bodyclass %}

{% block vcms_content_header %}
    {% show_search_box %}
    {{ block.super }}
{% endblock vcms_content_header %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    <div style=" margin-bottom: 1px; position: absolute; bottom: 0px; top: 0px;">
		<h6>Welcome to Simthetiq, supplier of advanced 3D solutions for the global defense, aerospace, gaming and research industries.</h6>
		<p>We offer our partners choice and control, with an encyclopaedic library of 3D models and environments, rapid product development on request, guaranteed cross-platform compatibility, a selection of fidelity and licensing options, and on-demand support.</p>
		<p>Browse our <a href="/www/page/about_our_models">library</a>, explore your options, learn more about our services and compatibility, sign up to receive updates, or manage your account online with one  of the fastest growing virtual content    developers at simthetiq.com</p>
		<p><b>Master your reality.<br/>
		Interact with Simthetiq.</b></p>
		<p></p>
		<p class="bottom_link ondark"><a href="#">Learn More</a></p>
    </div>
{% endblock navigation %}

{% block vcms_main_content %}
    <div class="vcms_container_table clear_bg">
	    <table>
		   <tr><td>
		      <div style="position: relative;">
					<h6>The Choice Is Yours</h6>
					<p>Simthetiq invites you to take control of your 3D content. With a wide selection of products, options and support services, the power is yours.</p>
					<p>Our expanding Simthetiq Content Library offers an extensive selection of professional-grade models and terrains in both high-fidelity and light versions. No less than three standard licensing options make it easy to ensure favourable terms. </p>
					<p>Our Custom Development Service can rapidly meet your special requirements. Our Systems Integration and Support Services are available to make light work of your most challenging projects.</p>
					<p>Welcome to Simthetiq 2.0. The Choice is Yours.</p>
					<!--               <div class="small_media_preview">
					   <div class="video_container">
						   <object>
								<param name="movie" value="/static/videos/virtual_khairabad_mp4_controller.swf">
								<embed src="/static/videos/virtual_khairabad_mp4_controller.swf"></embed>
							</object>
					   </div>
					   <div class="thumbnail">
						   <img src="/static/images/home_thumbnail.jpg" />
						   <img src="/static/images/home_thumbnail.jpg" />
					   </div>
				   </div>
				   -->
				   <br />
				   <br />
				   <p class="bottom_link onmedium"><a href="/www/page/we_are_simthetiq/">Learn More</a></p>
	           </div>
		       </td>

                <td>
				<div style="position: relative;">
					<h6>Update</h6>
					<p>Simthetiq has launched a major upgrade of its website but has not finished adding features and functionality.</p>
					<p>Customers who enjoyed browsing special products can now download Simthetiq's product catalogues. Full e-commerce capabilities are coming soon.</p>
					<p>Where information was need-to-know, Simthetiq.com now offers more information about our company, services, options and products and makes keeping in touch even easier.</p>
					<p>Sign up for company and product updates, and be the first to learn about new developments!</p>
	
					<p class="bottom_link onmedium"><a href="#">Learn More</a></p>
                </div>
                </td>
	        </tr>
		</table>
    </div>
{% endblock vcms_main_content %}
