{% extends "master_frame.html" %}
{% load menus %}
{% load banner_widget %}
{% load search_widget %}
{% load i18n %}
{% load cms_theme %}

{% block vcms_main_content %}
    {% block vcms_main_content_inside_navigation %}
    {% endblock vcms_main_content_inside_navigation %}
    <div class="float_container">
       {% block page_absolute_content %}
       {% endblock page_absolute_content %}
		<div>
		    <div id="page_title">
		        {% block content_title %}
                {{ contact_page.page_header|safe }}
                {% endblock content_title %}
            </div>
		    {% block content %}
				<!-- Content -->
				

		    {% endblock content %}
		</div><!-- vcms_content -->
        <div id="vcms_pagination">
            {% block pagination %}
            {% if paginator %}
            <span class="step-links">
                <span class="current">
                    Page {{paginator.number}} {% trans 'of' %} {{paginator.paginator.num_pages}}
                </span>
                {% if paginator.has_previous %}
                    <a href="{{paginator_previous_url}}"> &lt;&lt; {% trans 'previous' %}</a>
                {% endif %}
                {% if paginator.has_next %}
                    <a href="{{paginator_next_url}}">{% trans 'next' %} &gt;&gt;</a>
                {% endif %}
            </span>
            {% endif %}
            {% endblock pagination %}
        </div><!-- vcms_pagination -->
	</div><!-- vcms_content_container -->
	<div class="clear"></div>
{% endblock vcms_main_content %}
	
