{% load menus %}
{% load banner_widget %}

{% load compress %}
{% load i18n %}
{% load quicklinks %}
{% load cms_theme %}
{% load containers %}
{% load analytics %}
{% load bing_benefactor %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="robots" content="noarchive">
    <meta name="description" content="{% if page_info.current_page.description %} {{ page_info.current_page.description|striptags }} {% endif%} {% block metadescription %} {% endblock metadescription %}">
    <meta name="keywords" content="{{ page_info.current_page.keywords }}{% block keywords %} {% endblock keywords %}">
    {% insert_bing_meta %}
    <title>{% if page_info.current_page %} {{ page_info.current_page.name }} - {% endif %} {{ page_info.data.title }} {% block title %}{{ page_info.data.description }}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/images/favicon.ico" />
    
    {% compress css %}
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/style.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/dropdownmenu.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/navigation.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/product.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/store.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/widget_button.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/search.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/widget_paginator.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/forms.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/prettyPhoto/css/prettyPhoto.css" type="text/css" charset="utf-8">
	    <link rel="stylesheet" href="{{ MEDIA_URL }}custom_themes/{% get_selected_theme %}/ccss/hwm_tree.css" type="text/css" charset="utf-8">
	    
    {% block stylesheetlink %}{% endblock stylesheetlink %}
    {% endcompress %}
    
    <style type="text/css" media="all">
        {% block stylesheet %}{% endblock stylesheet %}
    </style>
    {% analytics %}
    
</head>
<body class="{% block bodyclass %}normal{% endblock bodyclass %}">
<!-- =========header=========== -->
    <div id="vcms_body">
        {% if page_info.current_page %}
        {% absolute_container page_info.current_page 'page_absolute' %}
        {% endif %}
        {% show_quicklinks %}
        <div id="vcms_header">  
            <div id="vcms_header_logo" onclick="document.location.href='/'" onmouseover="style.cursor='pointer'">
                <a href="/" title="Home" ></a>
            </div>
        </div>
    
        <!-- =========MENU=========== -->
        {% ifequal page_info.menu_style 1 %}
            {% if page_info.current_page %}
               {% show_main_menu page_info.current_page %}
               <!-- BANNER -->
               {% show_banner page_info.current_page MEDIA_URL %}
               {% show_sub_menu page_info.current_page %}
            {% else %}
               {% show_main_menu %}
            {% endif %}
        {% else %}
          {% if page_info.current_page %}
            {% show_dropdown_menu page_info.current_page %}
          {% else %}
            {% show_dropdown_menu %}
          {% endif %}
        {% endifequal %}
        
        <!--=========content=========== -->
        
        <div id="vcms_content_body">
        {% block vcms_content_body %}
            <div id="vcms_container_header_content">
            {% block vcms_content_header %}
              {% if page_info %}
                  {% show_banner page_info.current_page MEDIA_URL %}
              {% endif %}
            {% endblock vcms_content_header %}
            </div>
            <div style="position: relative;">
                {% block remove_navigation %}
                <div id="vcms_navigation_container" class="dark_bg">
                    {% block navigation %}
                    
                    {% endblock navigation %}
                    {% if page_info %}
                        {% relative_container page_info.current_page 'side_navigation' %}
                    {% endif%}
                </div>
                {% endblock remove_navigation %}
                <div id="vcms_content_container" class="dark_on_clear">
                    {% block vcms_main_content %}
                    {% endblock vcms_main_content %}
                </div>
                <div class="clear"></div>
            </div>
        {% endblock vcms_content_body %}
        </div><!-- vcms_content_body -->
        
        <!-- =========footer=========== -->
        {% if page_info.data.footer %}
        <div id="footing" >
            <div class="footing_content">
            {% block vcms_footer %}
               {{ page_info.data.footer|safe }}
            {% endblock vcms_footer %}
            </div>
        </div>
        {% endif %}
    </div><!-- vcms_body -->
<!-- =========GOOGLE SCRIPT=========== -->
<!--  
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3Cscript%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2190708-2");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
 -->
    {% block javascript-master %}
        <script type="text/javascript" src="/media/Library/jquery/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="/media/Library/jquery/jquery-ui-min.js"></script>-->
        <script src="/media/Library/prettyPhoto/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
        <!--<script src="/media/Library/banner/jqFancyTransitions.js" type="text/javascript"></script> -->
        <script src="/media/Library/banner/s3SliderCustom.min.js" type="text/javascript"></script><!-- banner -->
        <script type="text/javascript" src="/media/Library/search/inputbox_manager.js"></script>
        <!--[if lt IE 7]> <!--  DROP DOWN MENU -->
        <script type="text/javascript" src="/media/Library/menu/jquery.dropdown.js"></script>
        <![endif]-->
        
        {% block javascript-include %}{% endblock javascript-include%}
        
        <script type="text/javascript">
           
        {% block javascript %}
        {% endblock javascript %}

        </script> 
        <script type="text/javascript">
            $(document).ready(function() {
                $("#menu_{{page_info.current_page.id}}").className="menu_selected";
                
                $("a[rel^='prettyPhoto']").prettyPhoto({
                    animationSpeed: 'normal',  /* fast/slow/normal */
                    padding: 40,               /* padding for each side of the picture */
                    opacity: 0.55,             /* Value betwee 0 and 1 */
                    showTitle: true,           /* true/false */
                    allowresize: true,         /* true/false */
                    counter_separator_label: '/', /* The separator for the gallery counter 1 "of" 2 */
                    theme: 'dark_square'
                });
                
                if ($('#s3slider').length > 0 ){
                    $('#s3slider').s3Slider({
                        timeOut: 4000
                    });
                }
                
                {% block jquery %} {% endblock jquery %}
            });
        </script>
    {% endblock javascript-master %}
</body>
</html>