{% extends "master_frame.html" %}
{% load search_widget %}
{% load tree %}
{% load containers %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    {% show_detailed_search_box %}
	{% if page_info.current_page.menu %}
		{% generate_dl_tree page_info.current_page.menu %}
	{% endif %}
{% endblock navigation %}

{% block vcms_main_content %}
    {{ block.super }}
        <div class="vcms_content">
            {% if page_info.page.display_title %}
                <h1>{% if page_info.page.get_menu.get_root_menu_if_exist %}{{ page_info.page.get_menu.get_root_menu_if_exist }} / {% endif %}<span style="color: #444444;">{{ page_info.page.name }}</span></h1>
            {% endif %}
        </div>
        {% relative_container page_info.current_page 'content' %}
        {% absolute_container page_info.current_page 'content_absolute' %}
{% endblock vcms_main_content %}
