{% extends "master.html" %}
{% load search_widget %}

<!--=========NAVIGATION=========== -->
{% block navigation %}
    {% show_detailed_search_box %}
{% endblock navigation %}

{% block vcms_main_content %}
    <div class="vcms_container_relative">
        <div class="vcms_content">
            <h1>{{ page }} / <span style="color: #444444;">{{ page_info.page.name }}</span></h1>
        </div>
		<!-- Content -->
		{% for c in content_widgets %}
		
          {{ c.widget.render|safe  }}
        
        {% endfor %}

	</div>
{% endblock vcms_main_content %}
