{% extends "master_large.html" %}

	{% block content %}
		<!-- Content -->
		
		<div class="box floatleft">
            {% block dashboardelement %}
			{% endblock dashboardelement %}
	            {% for content in contents.left %}
					{% if content.1.title %}
	                <div class="division_content">
	                    <h4>{{ content.1.title|upper }}</h4>
	                </div>
	                <hr />
	                {% endif %}
					{% if content.1.content %}
	                <div class="division_content">
	                    {% if content.1.content %}
	                        <p>{{ content.1.content|safe }}</p>
	                    {% endif %}
	                    {% if content.1.link %}<p><a href="{{ content.1.link }}">more</a></p>{% endif %}
	                </div>
					{% endif %}
					{% if content.1.module%}
	                    {{ content.1.module|safe }}
					{% endif %}
				{% endfor %}
		</div>

		<!-- float left box -->
		
		<div class="box floatright">
            {% for content in contents.right %}
				{% if content.1.title %}
                <div class="division_content">
                    <h4>{{ content.1.title|upper }}</h4>
                </div>
                <hr />
                {% endif %}
				{% if content.1.content %}
                <div class="division_content">
                    {% if content.1.content %}
                        <p>{{ content.1.content|safe }}</p>
                    {% endif %}
                    {% if content.1.link %}<p><a href="{{ content.1.link }}">more</a></p>{% endif %}
                </div>
				{% endif %}
				{% if content.1.module%}
                    {{ content.1.module|safe }}
				{% endif %}
			{% endfor %}
			</div>

		<div class="clear"></div>

{% endblock content %}
