{% extends "master.html" %}
{% load thumbnail %}

{% block javascript %}
    {{ block.super }} 
	<script type="text/javascript" src="{{ MEDIA_URL }}Library/jquery/jquery-ui-min.js"></script>
{% endblock %}

{% block jquery%}

    // GALLERY NAVIGATION
	// populate de division with image,
	// maximum are set to limit the scroll
	

    // set up media position in the gallery
    var media_position = {
        height : 62,
        width : 120,
		gallery_position : 0,
		visible_col : 7,
		visible_row : 5,
        gallery_width : this.visible_col * this.width
	}

	var elements = {
		// navigation information, scroll limits and width
		'gallery_left' : {  max: 0, distance: 120, duration: 'medium'},
	    'gallery_right' : {  max: 0, distance: -120, duration: 'fast'}
	}

    $('.gallery_nav').each(function (k, v) {
		// Scroll the gallery to the left or to the right
        $(v).click(function () {
            var i = elements[v.id];
            var max = 0;
            if (i.max >= 0){ max = 0; } else { max = i.max; }
            if(max != media_position.gallery_position){ // do not scroll at the end
                $('#gallery').animate({left: media_position.gallery_position + i.distance + 'px'},i.duration);
                media_position.gallery_position += i.distance
            }
        });
    });


    // SETUP MEDIA POSITIONING
    function SetGalleryWidth(selected_media){
		// set the maximum for the left scroll, it calculate how many pixel are over the gallery visible size
        var col = parseInt(selected_media / media_position.visible_row);
        elements.gallery_right.max = -((parseInt((col+1) * media_position.width)) - media_position.visible_col*media_position.width);
    }

    function get_top_coordinate (position){
        if(position == null){ return false; }
        var row = position % media_position.visible_row;
        var top = (row * media_position.height)
        return top;
    }

    function get_left_coordinate (position){
        if(position == null){ return false; }
        var col = parseInt(position / media_position.visible_row);
        return col * media_position.width;
    }

    // MEDIA LIST GENERATION
    // set media library information and content
	// create an array containing each image as an object
    var media = [
         {% for media in media_library %}
           {file:"{{ MEDIA_URL }}{{ media.file }}",
            title:'{{media.description|striptags}}',
            name:"{{media.name}}",
            tagid:"{{media.name|slugify}}",
            thumbnail:"{% thumbnail media.file 100x40 crop %}",
            tags: [{% for tag in media.tags.all %}"{{tag}}"{% if not forloop.last %},{% endif %}{% endfor %}],
            position: {{ forloop.counter0 }},
            display: true,
            top: get_top_coordinate({{forloop.counter0}}),
            left: get_left_coordinate({{forloop.counter0}})}{% if not forloop.last %},{% endif %} 
        {% endfor %}
     ]

    // GENERATE HTML GALLERY
    // display every image in the media gallery
    function DisplayElement(holder) {
        for (var i = 0; i < media.length ; i++){
            var link = '<a id="' + media[i].tagid + '" rel="prettyPhoto[\'test\']" \
                        title="' + media[i].title + '" href="' + media[i].file + '" style="position:absolute;top:' + media[i].top + 'px;left:' + media[i].left + 'px;"><img src="' + media[i].thumbnail + '" alt="' + media[i].title + '" /></a>';
            $("#gallery").append(link);
        }
    }


    var holder = document.getElementById('gallery');
    DisplayElement(holder);
    SetGalleryWidth(media.length);

    // DYNAMIC GALLERY WITH EFFECT
    function RefreshMediaPosition (media, position){
            if (media.display == true) {
                media.left = get_left_coordinate(position);
                media.top = get_top_coordinate(position);
                media.position = position;
            } else {
                media.position = 0;
                // push media to top corner left for better animation
                $("#"+media.tagid).css('left',"-128px").css('top',"0px");
            }
    }

    
    // SET WHICH MEDIA SHOULD BE DISPLAYED
    function SetSelectedMedia() {
        var selected_tags_tmp = $("input:checkbox:checked");
        var selected_tags = new Array();
        for (var i = 0; i < selected_tags_tmp.length ; i++){
            selected_tags[i] = selected_tags_tmp[i].name;
        }
                
        // display full list if nothing is selected
        var position = 0;
        if (selected_tags.length == 0){
            for (var i = 0; i < media.length ; i++){
                media[i].display = true;
                RefreshMediaPosition(media[i], position++);
                $("#"+media[i].tagid).show("fast").animate({left: media[i].left + 'px', top: media[i].top + 'px'}, 'slow');
            }
        }else{
            for (var i = 0; i < media.length ; i++){
                var tag_exist = false; // set to true when found, reduce loop cycling
                for(t in media[i].tags){
					if (media[i].tags.hasOwnProperty(t)){
                    	for (scb in selected_tags){
							if (selected_tags.hasOwnProperty(scb)){
	                        	if (media[i].tags[t] == selected_tags[scb]){
	                            	tag_exist = true;
	                        	}
							}
	                    }
					}
                }

                if (tag_exist == false){
                    media[i].position = 0;
                    media[i].display = false;
                    $("#"+media[i].tagid).hide("slow");
                    RefreshMediaPosition(media[i], 0);
                } else {
                    media[i].display = true;
                    RefreshMediaPosition(media[i], position++);
                    $("#"+media[i].tagid).css('display',"block").animate({left: media[i].left + 'px', top: media[i].top + 'px'}, 'slow');;
                }
                
            } 
        }
        return position;
    }


    // LISTENER FOR CHECKBOX
    // AUTO refresh media list when a checkbox tag is checked
    $('.tags').each(function (k, v) {
        $(v).click(function () {

            // disable input to reduce possible glitch of positionning
            var selected_media = SetSelectedMedia();
            //return value inform the width of the gallery by the number of media item it contains
            SetGalleryWidth(selected_media);

            // reset gallery to page 1
            $("#gallery").css('left',"0px");
            media_position.gallery_position = 0;
        });
    });

{% endblock %}


<!--=========CONTENT=========== -->
{% block content %}
		<!-- MENU -->
		
		
        <div id="gallery_header" class="division_header">GALLERY :</div>
		<div id="gallery_content" class="division_content" style="display: block;">
            <div id="gallery_container">
                <div class="gallery_nav" id="gallery_left">
                    <img src="{{ MEDIA_URL }}CustomThemes/Simthetiq/images/gallery/left.gif" alt="Scroll left" />
                </div>
                <div class="gallery_display media_holder">
                    <div id="gallery">
                        
                    </div>
                </div>
                <div class="gallery_nav" id="gallery_right">
                    <img src ="{{ MEDIA_URL }}CustomThemes/Simthetiq/images/gallery/right.gif" alt="Scroll right"  />
                </div>
            </div>
		</div>
		{% if tags %} <!-- TAGS -->
		
		<div id="tags" class="division_header">TAGS :</div>
		<div id="tags_content" class="division_content" style="display: block;">
            <div class="media_holder">
			<form>
				{% for tag in tags %}
				<div class="tags" style="position: relative; float: left; width: 12em;">
					<input id="{{tag.tagname}}" type="checkbox" value="{{tag.tagname}}" name="{{tag.tagname}}" style=" width:auto"/>
						<label for="{{tag.tagname}}" style=" font-size: 1.2em;padding: 0; margin: 0;">{{tag.tagname}}</label>
				</div>
				{% endfor %}
			
			</form>
            </div>
			<div class="clear"></div>
		</div>
		{% endif %}

{% endblock content %}
