{% extends "master.html" %}

{% block navigation %}
    {{ navigation_menu }}
{% endblock navigation %}

{% block page_button_navigation %}
<div id="product_page_button_nav">
            <div id="" class="product_page_button first">My Account</div>
            <div id="" class="product_page_button">Cart</div>
            <div id="" class="product_page_button">DIS Database</div>
            <div id="" class="product_page_button">Email Page</div>
            <div id="" class="product_page_button">Print Page</div>
        </div>
{% endblock page_button_navigation %}

{% block content %}
    
        
    
        {% block product_list %}
        {% endblock %}
{% endblock content %}
