{% extends "product_master.html" %}
{% load i18n %}

{% block product_list %}
	    <table id="product_list" cellpadding="0" cellspacing="0">
	    {% for product in products.object_list %}
	        <tr>
	        <td class="col1"><b>{{ product.name }}</b>
	        <span class="light_gray" style="float: right;">#{{ product.id }}</span></td>
	        <td class="action"><a href="{{ product.get_absolute_url }}">{% trans 'Info' %}</a></td>
	        <td class="action"><a href="">{% trans 'Add' %}</a></td>
	        </tr>
		{% endfor %}
	</table>
{% endblock product_list %}
