{% extends "contact.html" %}
{% load i18n %}

{% block contact_form %}
	   {% if completed %}
	   <h2>{% trans "Thank You" %}</h2>
	   <div style="float: left; width: 70%; height: 260px; margin-right: 8%;">
			<p>Your inquiry has been successfully submitted. A copy has also been sent to the e-mail address provided.</p>
        {% else %}
        <h2>{% trans "Sorry" %}</h2>
         <div style="float: left; height: 200px;">
			<br />
			<p>We are sorry, the message delevery failed.</p>
			<p>It has been repport to simthetiq support and it will be resolve shortly. You may try later.</p>
			<p>Thank you!</p>

        {% endif %}	
        <br />
        </div>
        
{% endblock contact_form %}

