{% extends "master.html" %}
{% load i18n %}
{% load search_widget %}

{% block navigation %}
    {% show_detailed_search_box %}
{% endblock navigation %}
       
{% block vcms_main_content %}
<!--=========content=========== -->

<div class="vcms_container_relative">
    {% block contact_form %}
    <h2>{% trans "Contact Us" %}</h2>
    <div class="normal_form">
        <form method="post" action="/contact/" 
                onsubmit="return checkifcompleted(document.orderform, requiredfield, errormess );">
		   {% csrf_token %}
            <input id="default_input" type="hidden" />

            <div class="">
                <label id="firstname">First name</label><span style="color: red;">*</span>
                {% if form.firstname.errors %}<span class="error">*** {{ form.firstname.errors.0 }}</span>{% endif %}
                {{form.firstname}}
            </div>
            <div class="">
			    <label id="lastname">Last name </label><span style="color: red;">*</span>
                {% if form.lastname.errors %}<span class="error">*** {{ form.lastname.errors.0 }}</span>{% endif %}
		        {{form.lastname}}
            </div>
            <!-- <div class="">            
                <label id="phone_number">Phone Number</label><span style="color: red;">*</span>
				{% if form.phone_number.errors %}<span class="error">*** {{ form.phone_number.errors.0 }}</span>{% endif %}
				{{form.phone_number}}
            </div>-->
            {% if emailerror %}
            <div class="error">
                <h4>An error occured sending to this email address.</h4></div>
            </div>
			{% endif %}
            <div class="">
                <label id="email">Email</label><span style="color: red;">*</span>
		        {% if form.email.errors %}<span class="error">*** {{ form.email.errors.0 }}</span>{% endif %}
                {{form.email}}
            </div>
			<div class="">
                <label id="cie_name" for="cie_name">Company</label>
		        {{form.cie_name}}
            </div>
            <!-- <div class="">
                <label id="email2">Email Validation</label>
		        {% if form.email.errors %}<span class="error">*** {{ form.email2.errors.0 }}</span>{% endif %}
					     {{form.email2}}
            </div> -->
            <div class="fullsize">
                <label id="message">Message</label><span style="color: red;">*</span>
                {% if form.message.errors %}<span class="error">*** {{ form.message.errors.0 }}</span>{% endif %}
                {{form.message}}
            </div>
		    <div class="">
                {% if form.captcha.errors %}<span class="error">*** {{ form.captcha.errors.0 }}</span>{% endif %}
		        {{ form.captcha }}
		    </div>

			<div class="button">
	            <button type="submit" value="Submit">Submit</button>
	        </div>
	        <div class="clear"></div>
	    </form>
	</div>
	{% endblock contact_form %}
	<div class="vcms_notice_relative_container" width="130px;">
		<p><b>General Inquiries</b></p>
	    <span>info@simthetiq.com</span>
	    <p></p>
		<p><b>Telephone</b></p>
		<span>+1.514.464.2088</span>
		<p></p>
		
		<p><b>Fax</b></p>
		<span>+1.888.747.2927</span>
		<p></p>
		<p><b>Address</b></p>
		<span>420 Beaubien Ouest • Suite 107</span>
		<span>Montreal QC Canada</span>
		<span>H2V 4S6</span>
	</div>
</div>

    
<script language="JavaScript" type="text/JavaScript" src="/static/Library/validation/order.js"></script>
<script>
    var requiredfield = new Array();
    requiredfield = {{ requiredfields|safe }};
    var errormess = new Array();
    errormess = ["Please fill all required fields!","Please, enter a valid email address!", "Email address don't match!"];
</script>
<!--=========//dashboardelement=========== -->
{% endblock vcms_main_content %}
