<div>
    <dl id="{{ cssid }}">
    {% for item in data %}
        <dt id="{{ item.cssid }}" class="{% if item.selected %}selected{% endif %} {% if item.child_selected %}child_selected{% endif %}">
            <a href="{{ item.url}}/">{{ item.name }}</a>
        </dt>
        {% for item in item.items %}
            <dl class="{% if item.selected %}selected{% endif %} {% if item.child_selected %}child_selected{% endif %}">
            <a href="{{ item.url }}/">{{ item.name }}</a>
        {% endfor %}
    {% endfor %}
    </dl>
    <div style="clear: both; height: 0px;"></div>
    </ul>
</div>