div.contact_form {
  width: 49%;
  float: left;
  margin-right: 2em;
}

div.contact_form>div {
  text-align: center;
}

div.contact_form h1 {
  font-weight: bolder;
  text-transform: uppercase;
}

div.contact_form h3 {
  font-weight: normal;
  padding: 0;
}