div.contact_form {
  width: 49%;
  float: left;
  margin-right: 2em;
}

div.contact_form>div {
  text-align: center;
}

div.contact_form h1 {
  font-weight: bolder;
  text-transform: uppercase;
}

div.contact_form h3 {
  font-weight: normal;
  padding: 0;
}

div.contact_form span.black {
  color: #000000;
}

div.contact_form .form table {
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/form/form_bg_170px.jpg) bottom repeat-x;
}

div.contact_form .form div.underform {
  margin-left: auto;
  margin-right: auto;
}

div.contact_form .form input {
  margin-right: 3em;
}

div.contact_form .register {
  width: 600px;
}

div.contact_form div.noaccount {
  font-weight: bold;
  padding: 30px 0 60px 0;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
}

div.contact_form div.noaccount a {
  color: #c0c0c0;
}

div.contact_form div.noaccount div.left {
  border: 1px solid #b1b1b1;
  float: left;
  padding: 3px 20px 3px 20px;
}

div.contact_form div.noaccount div.right {
  background: #555555;
  border: 1px solid #b1b1b1;
  float: right;
  padding: 3px 30px 3px 30px;
}

div.contact_form div.whyregister {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

div.contact_form div.whyregister div.left {
  float: left;
}

div.contact_form div.whyregister div.right {
  float: right;
}

div.contact_form div.whyregister div.right div.list {
  text-align: left;
}

div.contact_form .submit {
  float: right;
}

div.contact_form .notice {
  float: left;
}