.normal div#mainnav {
  height: 52px;
  margin: -52px 0 52px auto;
}

.large div#mainnav {
  height: 95px;
  margin: -97px 0 96px auto;
}

.normal ul#mainmenu,
.normal ul.dropdown {
  height: 52px;
}

.large ul#mainmenu,
.large ul.dropdown {
  height: 95px;
}

div#mainnav {
  position: absolute;
  padding: 0;
  right: 0;
  z-index: 20;
}

ul#mainmenu,
ul.dropdown {
  position: relative;
  z-index: 40;
  float: left;
  margin: 0;
}

ul#mainmenu ul,
ul.dropdown ul,
ul#mainmenu li,
ul.dropdown li {
  padding: 0;
  list-style: none;
}

ul#mainmenu > li,
ul.dropdown > li {
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: block;
}

ul#mainmenu > li > a,
ul.dropdown > li > a {
  color: #c2c2c2;
  margin: auto 0 0 0;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

ul#mainmenu > li.menu_selected > a,
ul.dropdown > li.menu_selected > a {
  color: #b9ff3c;
}

.normal ul#mainmenu > li,
.normal ul.dropdown > li {
  height: 52px;
  background-image: url(../images/menu/main_menu_separator.jpg);
}

.normal ul#mainmenu > li > a,
.normal ul.dropdown > li > a {
  padding-top: 28px;
}

.normal ul#mainmenu > li:hover,
.normal ul.dropdown > li:hover {
  background-image: url(../images/menu/main_bg_hover.jpg);
}

.large ul#mainmenu > li,
.large ul.dropdown > li {
  height: 96px;
  background-image: url(../images/menu_large/main_menu_separator.jpg);
}

.large ul#mainmenu > li > a,
.large ul.dropdown > li > a {
  padding-top: 72px;
}

.large ul#mainmenu > li:hover .large ul#mainmenu > li > a,
.large ul.dropdown > li:hover .large ul.dropdown > li > a {
  color: #99ca3c;
}

.large ul#mainmenu > li:hover,
.large ul.dropdown > li:hover {
  background-image: url(../images/menu_large/main_bg_hover.jpg);
}

ul#mainmenu li,
ul.dropdown li {
  float: left;
  zoom: 1;
  line-height: normal;
}

ul#mainmenu li .hover,
ul.dropdown li .hover {
  position: relative;
  z-index: 40;
  cursor: default;
}

ul#mainmenu li:hover,
ul.dropdown li:hover {
  position: relative;
  z-index: 40;
  cursor: default;
}

ul#mainmenu li:hover > ul,
ul.dropdown li:hover > ul {
  visibility: visible;
}

ul#mainmenu a,
ul.dropdown a {
  position: relative;
  display: block;
}

ul#mainmenu a:link,
ul.dropdown a:link,
ul#mainmenu a:visited,
ul.dropdown a:visited {
  text-decoration: none;
  display: block;
}

ul#mainmenu a:hover,
ul.dropdown a:hover {
  text-decoration: none;
}

ul#mainmenu ul,
ul.dropdown ul {
  background-color: #000000;
  border-left: 1px solid #7b7b7a;
  border-right: 1px solid #7b7b7a;
  border-bottom: 1px solid #7b7b7a;
  color: #ffffff;
  font-size: 1em;
  filter: alpha opacity=70;
  left: 0px;
  padding: 0.4em 0;
  position: absolute;
  top: 100%;
  text-align: left;
  text-transform: none;
  visibility: hidden;
  width: 200px;
  z-index: 40;
  -moz-opacity: .7;
  KhtmlOpacity: .7;
  opacity: .7;
}

ul#mainmenu ul li,
ul.dropdown ul li {
  font-size: 0.9em;
  float: none;
  color: #ffffff;
  filter: none;
  padding: 0em;
  padding-top: 0px;
  margin: 0;
}

ul#mainmenu ul a,
ul.dropdown ul a {
  color: #ffffff;
  padding: 0.6em 0.8em;
}

ul#mainmenu ul a .category,
ul.dropdown ul a .category {
  color: #ffd83c;
}

ul#mainmenu ul a:link,
ul.dropdown ul a:link,
ul#mainmenu ul a:active,
ul.dropdown ul a:active,
ul#mainmenu ul aa:visited,
ul.dropdown ul aa:visited {
  color: #ffffff;
}

ul#mainmenu ul a:hover,
ul.dropdown ul a:hover {
  background-color: #4a4a4a;
  color: #ffffff;
  text-decoration: none;
}