form>table,
form>div {
  padding: 0;
}

form p.error {
  float: left;
  width: 78%;
  margin-top: 0.9em;
}

label {
  font-size: 1em;
  text-transform: capitalize;
  text-align: left;
  margin-top: 0.8em;
}

.notice {
  float: right;
  font-size: 0.8em;
}

.notice a {
  font-style: italic;
  color: #c2c2c2;
}

.notice a .black {
  color: #121212;
}

.mandatory {
  color: red;
}

input,
select {
  width: 98%;
  height: 2em;
}

textarea {
  width: 100%;
}

input,
textarea {
  border: 1px solid #c9c9c9;
}

.normal_form {
  width: 550px;
  float: left;
}

.normal_form form > div {
  float: left;
  width: 254px;
  margin: 0;
  margin-right: 20px;
  margin-top: 1em;
  padding: 0;
}

.normal_form form > div.fullsize {
  width: 520px;
}

.normal_form .button {
  float: right;
  width: auto;
  margin: 0.4em 0;
}

.normal_form div.button {
  margin-top: 18px;
  margin-right: 24px;
}

.normal_form .col_1 {
  padding-right: 1em;
  width: 49%;
}

.normal_form .col_2 {
  padding-left: 1em;
  width: 49%;
}

.normal_form table {
  font-size: 0.9em, r;
  margin-top: 1em;
}

.normal_form table td {
  padding: 0.2em 0;
}

.normal_form table ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.normal_form table ul li {
  float: left;
  width: auto;
  margin-right: 0.2em;
}

.normal_form table ul li input {
  float: left;
  height: auto;
  width: auto;
  padding: 0;
}

.normal_form table select {
  width: 100%;
}

button.button,
button {
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  background: #555555;
  padding: 0.3em 0.4em;
  padding-right: 20px;
  padding-top: 4px;
  padding-left: 6px;
  background-position: 95% 52%;
  background-repeat: no-repeat;
  color: #c2c2c2;
  background-image: url(../images/link/arrow_gray.png);
  cursor: pointer;
  width: auto;
}

div.contact_form {
  float: left;
  margin-right: 2em;
}

div.contact_form>div {
  text-align: center;
}

div.contact_form h1 {
  font-weight: bolder;
  text-transform: uppercase;
}

div.contact_form h3 {
  font-weight: normal;
  padding: 0;
}