form>table,
form>div {
  padding: 0.8em;
}

form p.error {
  float: left;
  width: 78%;
  margin-top: 0.9em;
}

.standard_form {
  text-align: center;
}

.standard_form table {
  background: url(../images/form/form_bg.jpg) bottom repeat-x;
  width: 100%;
}

.standard_form label {
  width: 10em;
}

.standard_form select {
  width: 100%;
}

label {
  font-size: 1em;
  text-transform: capitalize;
  text-align: left;
}

.notice {
  float: right;
  font-size: 0.9em;
}

.notice a {
  font-style: italic;
  color: #c2c2c2;
}

.notice a .black {
  color: #121212;
}

input {
  width: 98%;
  height: 2em;
  border: 1px solid #c9c9c9;
}

textarea {
  width: 92%;
}

#login_form {
  width: 76%;
  float: left;
}

#login_form form > div {
  float: left;
  width: 46%;
  margin: 0;
  margin-right: 1.1em;
  margin-top: 1em;
  padding: 0;
}

#login_form .button {
  float: right;
}

#login_form div.button {
  width: 18%;
}

button.button {
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  background: #555555;
  margin-right: 1.1em;
  padding: 0.3em 0.4em;
  padding-right: 20px;
  padding-left: 1em;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  color: #c2c2c2;
  background-image: url(../images/link/arrow_gray.png);
}