body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #888888;
  font-size: 10pt;
  font-family: Arial, futura, sans-serif;
  color: #707070;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  color: #929292;
  font-size: 1.3em;
  margin: 0 0.1em 0 0;
}

body h1,
body h2 {
  font-size: 1.8em;
  margin-top: 0.8em;
}

body h2 {
  color: #484848;
}

body h3 {
  padding-top: 0.8em;
}

body h4 {
  font-weight: normal;
  padding-bottom: 0.4em;
}

body h5 {
  color: #484848;
  font-size: 1em;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

body h6 {
  font-size: 1em;
  color: #484848;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

body a {
  text-decoration: none;
}

body a img {
  border: none;
}

body p {
  margin: 0.3em 0;
  padding: 0.1em 0;
  font-size: 1em;
  color: #000000;
}

body p a {
  color: #9aca3c;
}

body hr {
  height: 1px;
  size: 1px;
  background: #b1b1b1;
  border: none;
}

#vcms_body {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
  -moz-box-shadow: 0px 2px 12px #111111;
  -webkit-box-shadow: 0px 2px 12px #111111;
  box-shadow: 0px 2px 12px #111111;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR\')';
  filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR\')';
}

body.large #vcms_header {
  height: 96px;
  background: url(../images/heading/large/bg.jpg) bottom left repeat-x #131313;
  border-bottom: 1px solid #b9ff3c;
}

body.normal #vcms_header {
  height: 52px;
  background: url(../images/heading/bg.jpg) bottom left repeat-x #131313;
}

#vcms_header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 20;
}

body.large #vcms_header_logo {
  height: 96px;
  background: url(../images/logo/logo_large.jpg) top left no-repeat;
}

body.normal #vcms_header_logo {
  background: url(../images/logo/logo.jpg) top left no-repeat;
}

#vcms_header_logo {
  width: 346px;
  height: 52px;
  margin-left: 9px;
}

div#banner {
  margin: 0 auto;
  padding: 0;
}

div#banner #s3slider {
  width: 780px;
  height: 112px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

div#banner ul#s3sliderContent {
  margin: 0;
  margin-left: 0;
  padding: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

div#banner ul#s3sliderContent li {
  margin: 0;
  padding: 0;
  top: 0;
}

div#banner .s3sliderImage {
  float: left;
  position: relative;
  display: none;
}

div#banner .s3sliderImage span {
  position: absolute;
  width: 200px;
  padding: 10px 13px;
  bottom: 0;
  left: 0;
  dir: rtl;
  font: '10px/15px Arial, Helvetica, sans-serif';
  background-color: #000000;
  filter: alpha opacity=70;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  color: #ffffff;
  display: none;
}

#footing {
  width: 1000px;
  height: 37px;
  background-color: #333333;
  color: #525252;
  clear: both;
}

#footing .footing_content {
  width: 1000px;
  height: 37px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9em;
  color: #888888;
}

#footing .spacer {
  margin: auto 1em;
}

#footing a {
  text-decoration: none;
  color: #c2c2c2;
}

#footing a:hover {
  text-decoration: underline;
}

#footing #copyright {
  color: #787878;
}

.large #footing {
  height: 38px;
}

.clear {
  clear: both;
}

ul.manual_bullet {
  list-style: none;
  padding: 0;
}

ul.manual_bullet li {
  padding-bottom: 0.5em;
}

input.id_captcha_1 {
  width: 4em;
  margin: 0 0 0 1em;
  heigth: 1em;
}

div#quicklinks {
  position: absolute;
  width: 30px;
  height: 400px;
  top: 0px;
  left: 1001px;
  margin: 0;
  margin-top: 0em;
  padding: 0;
}

div#quicklinks img {
  margin-top: 6px;
  -moz-box-shadow: 0px 2px 8px #111111;
  -webkit-box-shadow: 0px 2px 8px #111111;
  box-shadow: 0px 2px 8px #111111;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR2\')';
  filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR2\')';
}

div.gallery_nav {
  position: absolute;
  top: 0;
  cursor: pointer;
  padding: 0 10px;
  width: 30px;
  height: 310px;
}

div.gallery_nav img {
  margin-top: 100px;
  padding: 4px 4px 12px 4px;
}

div.gallery_display {
  margin: 3px 6px;
}

div#gallery a {
  background-color: #222222;
  border: 0;
  width: 112px;
  height: 52px;
  display: block;
}

div#gallery_left {
  left: 0;
}

div#gallery_right {
  right: 0;
}

div.gallery_display {
  position: relative;
  left: 45px;
  top: 0;
  width: 840px;
  height: 310px;
  margin: 0;
  overflow: hidden;
}

div.gallery_display img {
  margin: 3px 6px;
}

#gallery {
  position: relative;
}

div#vcms_content_body {
  width: 1000px;
  background-color: #333333;
  position: relative;
}

div#vcms_content_body div#item_navigation div.left {
  float: left;
}

div#vcms_content_body div#item_navigation div.right {
  float: right;
}

div#vcms_content_container {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  background-color: None;
  float: right;
  background: url(../images/navigation/side_shadow.jpg) 0px 0px repeat-y #ffffff;
}

div#vcms_content_container h5 {
  line-height: 1.4em;
  margin-top: 1.2em;
  margin-left: 1em;
}

div#vcms_content_container h6 {
  background-color: #333333;
  width: 92%;
  font-size: 1.1em;
  padding: 0.6em 4%;
  color: #d0cfce;
}

div#vcms_content_container p {
  margin-top: 0.6em;
}

div.vcms_content {
  margin: 1.2em 0;
  background-color: #ffffff;
}

div.vcms_content p {
  margin-left: 0;
  line-height: 1.4em;
  margin-top: 0.8em;
}

div.vcms_content #page_title {
  text-align: center;
}

div.vcms_content table {
  border: 1px solid #b1b1b1;
}

div.vcms_content .content_box {
  padding: 0.4em 1em 24px 1em;
  border: 1px solid #b1b1b1;
  position: relative;
  min-height: 70px;
  background: url(../images/content_box/background.jpg) bottom repeat-x #ffffff;
}

div.vcms_content .content_box p {
  font-size: 0.9em;
  color: #000000;
}

div.vcms_content .content_box_link {
  text-align: right;
  position: absolute;
  bottom: 6px;
  right: 0px;
}

div.vcms_content .content_box_link a {
  font-size: 0.9em;
  color: #ffffff;
  padding-right: 1em;
  background-image: url(../images/content_box/content_box_link4.jpg);
  background-repeat: no-repeat;
  background-position: right -19px;
}

div.vcms_content .content_box_link a:hover {
  color: #426e0f;
  background-image: url(../images/content_box/content_box_link4.jpg);
  background-repeat: no-repeat;
  background-position: right 4px;
}

div.vcms_content img {
  margin: 0.8em;
}

body.large div#vcms_navigation_container {
  width: 273px;
}

body.large div#vcms_navigation_container p {
  font-size: 0.9em;
}

body.normal div#vcms_navigation_container {
  width: 220px;
}

body.normal div#vcms_navigation_container p {
  font-size: 0.9em;
}

div#vcms_navigation_container,
div.vcms_navigation_container {
  border-bottom: 1px solid #656565;
  border-right: 1px solid #656565;
  background: url(../images/side_navigation/black_stripe.jpg) bottom repeat-x;
  background-color: #333333;
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
}

div#vcms_navigation_container ul,
div.vcms_navigation_container ul {
  width: 100%;
  background-color: #dadada;
}

div#vcms_navigation_container h1,
div.vcms_navigation_container h1,
div#vcms_navigation_container h2,
div.vcms_navigation_container h2,
div#vcms_navigation_container h3,
div.vcms_navigation_container h3,
div#vcms_navigation_container h4,
div.vcms_navigation_container h4,
div#vcms_navigation_container h5,
div.vcms_navigation_container h5,
div#vcms_navigation_container h6,
div.vcms_navigation_container h6,
div#vcms_navigation_container span,
div.vcms_navigation_container span,
div#vcms_navigation_container p,
div.vcms_navigation_container p {
  margin: 1.1em 1.5em;
  color: #d0cfce;
}

div#vcms_navigation_container h6,
div.vcms_navigation_container h6 {
  color: #d0cfce;
  line-height: 1.2em;
  margin-top: 2.2em;
}

body.large div#vcms_content_container {
  width: 726px;
}

body.normal div#vcms_content_container {
  width: 779px;
}

.bordered_content {
  border: 1px solid #b1b1b1;
}

div.container_absolute {
  position: relative;
}

div.container_absolute > div {
  position: absolute;
}

div.vcms_container_grid {
  position: relative;
}

div.vcms_container_grid > div {
  position: relative;
  float: left;
}

div#vcms_container_header_content {
  position: relative;
  width: 100%;
  border-bottom: thin solid #b9ff3c;
  font-size: 0.8em;
  z-index: 10;
  overflow: hidden;
  -moz-box-shadow: 0px 2px 8px #111111;
  -webkit-box-shadow: 0px 2px 8px #111111;
  box-shadow: 0px 2px 8px #111111;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR2\')';
  filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR2\')';
}

div.vcms_column_container {
  background-image: url(../images/containers/grid/bg.jpg);
  background-repeat: repeat-x;
  background-position: right bottom;
  background-color: #ffffff;
}

div.vcms_column_container table td {
  padding: 0.8em;
  width: 42%;
}

div.vcms_column_container table td.col2 {
  background-image: url(../images/containers/column/separator.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

div.vcms_container_relative {
  margin: 2.4em;
}

div.vcms_container_relative p {
  margin-left: 0px;
  margin-top: 1em;
}

div.vcms_container_table {
  background: url(../images/navigation/side_shadow.jpg) 0px 0px repeat-y #ffffff;
}

div.vcms_container_table table td {
  vertical-align: top;
  padding: 1.2em;
  border-right: thin solid #b7b7b7;
}

div.vcms_container_table table td.col2 {
  width: 245px;
  border-right: none;
}

div.content_title {
  background-color: #333333;
  width: 100%;
  padding: 0.4em 0;
}

div.content_title h6 {
  margin: 0.1em 1.1em 0.1em 1.1em;
  text-transform: uppercase;
}

div.content_title span {
  float: right;
  color: #b7b7b7;
  margin-right: 1.1em;
  margin-top: -1.4em;
  font-size: 0.8em;
}

div.small_media_preview {
  float: right;
  width: 226px;
  margin-bottom: 1em;
}

div.small_media_preview div.video_container {
  margin: 1em 0 16px 16px;
  width: 210px;
  height: 139px;
  float: left;
}

div.small_media_preview div.video_container object,
div.small_media_preview div.video_container embed {
  width: 210px;
  height: 139px;
}

div.small_media_preview div.thumbnail {
  float: left;
}

div.small_media_preview div.thumbnail img {
  margin-left: 16px;
  width: 97px;
  height: 77px;
  float: left;
}

.content_def_link {
  width: 226px;
}

.content_def_link dt {
  margin-bottom: 0.6em;
  font-style: italic;
}

.content_def_link dt,
.content_def_link a,
.content_def_link p {
  font-size: 1em;
  color: #929292;
}

.content_def_link dd {
  border-left: 1px solid #929292;
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
  text-align: right;
  margin: 0;
  background-image: url(../images/link/arrow_dark.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  margin-top: -1px;
  padding: 0.2em 0;
}

.content_def_link a {
  display: block;
  padding-right: 20px;
}

.content_def_link p {
  font-size: 0.8em;
  line-height: 0.8em;
}

.vcms_notice_relative_container span {
  font-size: 0.9em;
  color: #929292;
  line-height: 0.8em;
  margin-top: 8px;
}

p.bottom_link {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

p.bottom_link a {
  padding: 0.4em;
  padding-right: 20px;
  padding-left: 1em;
  margin-top: 1em;
  background-position: 94% 50%;
  background-repeat: no-repeat;
  color: #707070;
  background-image: url(../images/link/arrow_dark.png);
}

.dark_bg p.bottom_link a {
  color: #d0cfce;
  background-image: url(../images/link/arrow_gray.png);
}

.error {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #d93315;
}