body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #888888;
  font-size: 11pt;
  font-family: 'century gothic', futura, sans-serif;
  color: #707070;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: bold;
  color: #929292;
  font-size: 1.3em;
  margin: 0 0.1em 0 0;
}

body h1,
body h2 {
  font-size: 1.6em;
  margin-top: 0.8em;
}

body h3 {
  padding-top: 0.8em;
}

body h4 {
  font-weight: normal;
  padding-bottom: 0.4em;
}

body h5 {
  color: #484848;
  font-size: 1.1em;
}

body h6 {
  font-size: 1em;
  color: #b7b7b7;
}

body a {
  text-decoration: none;
}

body a img {
  border: none;
}

body p {
  margin: 0.1em 0;
  padding: 0.1em 0;
  font-size: 0.9em;
  color: #000000;
}

body hr {
  height: 1px;
  size: 1px;
  background: #b1b1b1;
  border: none;
}

#vcms_body {
  position: relative;
  width: 956px;
  margin: 0 auto;
  padding: 0;
  border-left: 1px solid #656565;
  border-right: 1px solid #656565;
  -moz-box-shadow: 0px 2px 12px #111111;
  -webkit-box-shadow: 0px 2px 12px #111111;
  box-shadow: 0px 2px 12px #111111;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR\')';
  filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=\'$SHADOW_COLOR\')';
}

#vcms_header {
  position: relative;
  width: 100%;
  height: 52px;
  margin: 0 auto;
  padding: 0;
  background: url(../images/heading/bg.jpg) bottom left repeat-x #131313;
}

.large #vcms_header {
  height: 96px;
  background: url(../images/heading_large/bg.jpg) bottom left repeat-x #131313;
}

#vcms_header_logo {
  width: 320px;
  height: 52px;
  margin-left: 2em;
  background: url(../images/logo/logo.jpg) top left no-repeat;
}

.large #vcms_header_logo {
  height: 96px;
  background: url(../images/logo/logo_large.jpg) top left no-repeat;
}

div#banner {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

div#banner #s3slider {
  width: 100%;
  height: 278px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

div#banner ul#s3sliderContent {
  margin: 0;
  margin-left: 0;
  padding: 0;
  top: 0;
  width: 100%;
  position: absolute;
}

div#banner ul#s3sliderContent li {
  margin: 0;
  padding: 0;
  top: 0;
}

div#banner .s3sliderImage {
  float: left;
  position: relative;
  display: none;
}

div#banner .s3sliderImage span {
  position: absolute;
  width: 200px;
  padding: 10px 13px;
  bottom: 0;
  left: 0;
  dir: rtl;
  font: '10px/15px Arial, Helvetica, sans-serif';
  background-color: #000000;
  filter: alpha opacity=70;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  color: #ffffff;
  display: none;
}

#footing {
  width: 956px;
  height: 37px;
  background-color: #333333;
  color: #525252;
  clear: both;
}

#footing .footing_content {
  width: 956px;
  height: 37px;
  margin: auto;
  padding: 10px 0;
  text-align: center;
}

#footing .spacer {
  margin: auto 1em;
}

#footing a {
  text-decoration: none;
  color: #c2c2c2;
}

#footing a:hover {
  text-decoration: underline;
}

#footing #copyright {
  color: #787878;
}

.large #footing {
  height: 38px;
  border-top: 1px solid #b9ff3c;
}

.clear {
  clear: both;
}

input.id_captcha_1 {
  width: 4em;
  margin: 0 0 0 1em;
  heigth: 1em;
}

div.gallery_nav {
  position: absolute;
  top: 0;
  cursor: pointer;
  padding: 0 10px;
  width: 30px;
  height: 310px;
}

div.gallery_nav img {
  margin-top: 100px;
  padding: 4px 4px 12px 4px;
}

div.gallery_display {
  margin: 3px 6px;
}

div#gallery a {
  background-color: #222222;
  border: 0;
  width: 112px;
  height: 52px;
  display: block;
}

div#gallery_left {
  left: 0;
}

div#gallery_right {
  right: 0;
}

div.gallery_display {
  position: relative;
  left: 45px;
  top: 0;
  width: 840px;
  height: 310px;
  margin: 0;
  overflow: hidden;
}

div.gallery_display img {
  margin: 3px 6px;
}

#gallery {
  position: relative;
}

div#vcms_content_body {
  width: 956px;
  background-color: #333333;
  position: relative;
}

div#vcms_content_body div#item_navigation div.left {
  float: left;
}

div#vcms_content_body div#item_navigation div.right {
  float: right;
}

div#vcms_navigation_container {
  width: 240px;
  border-bottom: 1px solid #656565;
  border-right: 1px solid #656565;
  float: left;
  background: url(../images/side_navigation/black_stripe.jpg) bottom repeat-x;
}

div#vcms_navigation_container ul {
  width: 100%;
  background-color: #dadada;
}

div#vcms_content_container {
  width: 715px;
  background-color: #ffffff;
  float: right;
  padding-bottom: 2em;
  position: relative;
}

div#vcms_content {
  margin: 2em 2em;
}

div#vcms_content .form {
  width: 52%;
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}

div#vcms_content #page_title {
  text-align: center;
}

div#vcms_content table {
  border: 1px solid #b1b1b1;
}

div#vcms_content table.standard {
  padding: 0.4em 1em;
  background: url(../images/form/form_bg.jpg) bottom repeat-x;
}

div#vcms_content table.standard th {
  width: 46%;
  vertical-align: top;
  padding-top: 6px;
}

div#vcms_content table.standard td {
  padding: 0.3em 0;
}

div#vcms_content table.standard label {
  font-weight: bold;
  font-size: 0.9em;
  float: right;
  margin-right: 1em;
  text-transform: uppercase;
}

div#vcms_content table.standard input {
  width: 98%;
}

div#vcms_content table.standard textarea {
  width: 100%;
}

div#vcms_content table {
  border: 1px solid #b1b1b1;
}

div#vcms_content .content_box {
  padding: 0.4em 1em 24px 1em;
  border: 1px solid #b1b1b1;
  position: relative;
  min-height: 70px;
  background: url(../images/content_box/background.jpg) bottom repeat-x #ffffff;
}

div#vcms_content .content_box p {
  font-size: 0.9em;
  color: #000000;
}

div#vcms_content .content_box_link {
  text-align: right;
  position: absolute;
  bottom: 6px;
  right: 0px;
}

div#vcms_content .content_box_link a {
  font-size: 0.9em;
  color: #ffffff;
  padding-right: 1em;
  background-image: url(../images/content_box/content_box_link4.jpg);
  background-repeat: no-repeat;
  background-position: right -19px;
}

div#vcms_content .content_box_link a:hover {
  color: #426e0f;
  background-image: url(../images/content_box/content_box_link4.jpg);
  background-repeat: no-repeat;
  background-position: right 4px;
}

.bordered_content {
  border: 1px solid #b1b1b1;
}