#widget_button_list {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  text-transform: capitalize;
  margin-right: 0px;
  padding-right: 0px;
}

#widget_button_list > div {
  float: left;
  height: 20px;
  margin-left: -10px;
  display: block;
  padding: 0 22px 0 16px;
}

#widget_button_list > div.wgt_button {
  background-image: url(../images/products/page_button/button_sep_backslash.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#widget_button_list > div.wgt_button:hover {
  background-color: #363636;
  background-image: url(../images/products/page_button/button_sep_backslash_selected.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#widget_button_list .wgt_button_first {
  background-image: url(../images/products/page_button/button_sep_backslash_first.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#widget_button_list .wgt_button_first:hover {
  background-image: url(../images/products/page_button/button_sep_backslash_first_selected.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

#widget_button_list a {
  height: 20px;
  margin-right: -4px;
  display: block;
  color: #c2c2c2;
}

#button_widget {
  padding: 0 1em;
  text-transform: capitalize;
}

#button_widget:hover {
  background-color: #363636;
  color: #c2c2c2;
}

#button_widget a {
  color: inherit;
  display: block;
  padding: 0 1em;
}

#button_widget a:hover {
  color: #c2c2c2;
}