{% extends "master.html" %}

{% block title %}
    Search result for {{ query }}
{% endblock title %}

{% block content %}
<!--=========content=========== -->

<div class="division_content search">
    

    <form method="get" action=".">
        <table>
            <tr><td><h2>Search</h2></td>
                <td>{{ form.q }}</td>
                <td width="20%"><input type="submit" value="Search"></td>
            <tr><td></td>
                <td>{{ form.models }}</td>
                <td></td>
            </tr>
        </table>
            
        {% if query %}
            <h2>Results</h2>
            <table style="text-align:left;">
            {% for result in page.object_list %}
                <tr>
                    <td id="first_column" style="width: 6%">{{ result.score|floatformat:"-2" }}</td>
                    <td> <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a> ({{ result.verbose_name|cut:"page"|cut:" " }})</td>
                </tr>
                <tr>
                    <td></td><td>{{ result.object.product_description|truncatewords:30 }}</td>
                </tr>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </table>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
</div>
<!--=========//content=========== -->
{% endblock content %}
