{% extends "master.html" %}

{% block stylesheet %}
	<!--  <link href="/static/css/simthetiq_services.css" rel="stylesheet" type="text/css"> -->
{% endblock stylesheet %}

{% block ubercontent %}
	 {%if orderform.errors %}<span style="color: red;"> {{ orderform.errors }}</span>{% endif%}
     <div class="content">
		<div class="division_content">
			<h2>FREE REAL-TIME MILITARY 3D MODEL IN OPENFLIGHT</h2>
			<hr />
			<p>Please fill the form to receive your free model in MultiGen&copy; Creator&trade; OpenFlight&copy; or Autodesk&copy; 3ds Max&copy; format, with full support for integration in your system.
			This initiative is to let you evaluate our 3d product, the visual fidelity, product support and to let us understand your needs and requirement for your visual. Please note that the support for customizing the model to your engine will be provided for free.
			<p>Once the model is fully integrated in your system, we will save your profile as our customer and will be in a better position to respond to urgent request by your customer by providing them "plug and play" model for your engine.
            <hr />
			Free Entity Model for Distributed Interactive Simulation (DIS) Interoperability content description:
            <ul>
			<li>Leopard C1A1 MEXAS Military Entity
			<li>Multiple LOD and Damage state. 
			<li>Fully articulated ( wheels - track - turret - barrel - cupola )
			<li>Multiple texture scheme ( OLIVE - DESERT - CAMO - WINTER - IR - RADAR )
			<li>Secondary weapon as external reference ( xref )
			<li>DIS attributes in the MultiGen Flight file
            </ul>
            <h4 style="height: 4em;">
                <a href="/order/orderform/" style="font-size: 1.4em; position: absolute; margin: 1em; right: 2em; ">Order Now!</a>
            </h4>
            <br />
            <br />
            <br />
		</div>
    </div>
    <div class="" style="position: relative; heigth: 200px; width: 700px; margin-top: -64px; margin-left: auto; margin-right: auto;"><img src="/static/img/order/big_panzer.jpg" /></div>
	
{% endblock ubercontent %}
