{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}Library/Editor/tiny_mce/tiny_mce.js"></script>
<script language="javascript" type="text/javascript">
tinyMCE.init({
	theme : "simple",
	skin : "default",
	mode : "exact",
	auto_resize : true
});

tinyMCE.init({
	theme : "advanced",
	skin : "default",
	mode : "textareas",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	elements :" id_test, id_term, id_text, id_content, id_domainelement_set-*",
	editor_deselector : "norichtext",
	auto_resize : true
});
</script>
{% endblock %}

