{% extends "shop/base.html" %}
{% load satchmo_google %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li>{% trans "Account Creation" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Account Creation" %}</h3>
<p>{% trans "Thank you for signing up." %}
{% ifequal verification "ADMINISTRATOR" %}
    {% trans "You will receive an email as soon as your account is activated." %}
{% endifequal %}
{% ifequal verification "EMAIL" %}
    {% trans "An activation link has been sent to the email address you supplied, along with instructions for activating your account." %}
{% endifequal %}
{% ifequal verification "IMMEDIATE" %}
    {% trans "You may now authenticate yourself to the site." %}
{% endifequal %}
</p>

{% endblock %}

{% block google-tracker %}
{% if shop.options.GOOGLE.ANALYTICS.value %}
    {% show_tracker is_secure %}
    {% google_track_signup %}
{% endif %}
{% if shop.options.GOOGLE.ADWORDS.value %}
    {% google_adwords_signup %}
{% endif %}
{% endblock %}
