<div id="mainnav">
    <ul class="dropdown dropdown-horizontal ">

    {% for menu in menus %}
    <li class="{% if menu.selected %}menu_selected {% endif %}">
        <a id="link_menu_{{menu.menu.slug}}" href="{{menu.menu.get_absolute_url}}" class="dir">{{ menu.menu.get_name|upper }}</a>
        
        {% if menu.submenus %}{% comment %} dont display empty menu{% endcomment %}
		<ul>{% for submenu in menu.submenus %}
		      <li id="menu_{{menu.menu.id}}" class="{% if submenu.selected %}menu_selected{% endif %}">
		          <a id="link_submenu_{{menu.id}}" href="{{submenu.menu.get_absolute_url}}">{{ submenu.menu }}</a>
		      </li>{% endfor %}
		</ul>
		{% endif %}
	</li>
	{% endfor %}
    </ul>
	<div style="clear: both; height: 0px;"></div>
</div>
