<div>
    <div class="navigation_title">{{ navigation_title }}</div>
    <dl id="{{ cssid }}">
    {% for item in menu_items %}
        <dt class="{% if item.selected %}selected{% endif %} {% if item.child_selected %}child_selected{% endif %}">
            {% if item.url %}
                <a href="{{ item.url }}/">{{ item.name }}</a>
            {% else %}
                {{ item.name }}
            {% endif %}
          
        </dt>
        {{ item.content_object.render_submenu }}
    {% endfor %}
    </dl>
    <div style="clear: both; height: 0px;"></div>
</div>