<div class="tree">
  <h1 class="navigation_title">{{ cms_menu }}</h1>
    <dl id="{{ cssid }}">
    {% for item in menu_items %}
        <dt class="{% if item.selected %}selected{% endif %} {% if item.child_selected %}child_selected{% endif %}">
            {% if item.item.get_absolute_url %}
                <a href="{{ item.item.get_absolute_url }}">{{ item.item.name }}</a>
            {% else %}
                {{ item.item.name }}
            {% endif %}
          
        </dt>
        {{ item.submenu }}

    {% endfor %}
    </dl>
    <div style="clear: both; height: 0px;"></div>
</div>
